[2015-09-08 23:00] nmaguirre opened #1 "Missing implementation for routine make.MICRODVD_SUBTITLE_ITEM"
Routine make from class MICRODVD_SUBTITLE_ITEM has an empty implementation. This routine must be implemented, guided by accompanying unit tests for the routine, and its textual description.

[2015-09-08 23:02] nmaguirre opened #2 "Missing precondition for routine make.MICRODVD_SUBTITLE_ITEM"
Routine make from class MICRODVD_SUBTITLE_ITEM has no explicit precondition. This routine must have a specific, explicit, precondition, indicating the acceptable values for start and stop frames.

[2015-09-08 23:03] nmaguirre opened #3 "Missing postcondition for routine make.MICRODVD_SUBTITLE_ITEM"
Routine make from class MICRODVD_SUBTITLE_ITEM has no explicit postcondition. This routine must have a specific, explicit, postcondition, indicating how the state of the item is set by the constructor.

[2015-09-08 23:24] nmaguirre opened #4 "Missing implementation for routine make_with_text.MICRODVD_SUBTITLE_ITEM"
Routine make_with_text from class MICRODVD_SUBTITLE_ITEM has an empty implementation. This routine must be implemented, guided by its textual description.

[2015-09-09 01:00] nmaguirre opened #5 "Missing postcondition for routine make_with_text.MICRODVD_SUBTITLE_ITEM"
Routine make_with_text from class MICRODVD_SUBTITLE_ITEM has no explicit postcondition. This routine must have a specific, explicit, postcondition, indicating how the state of the item is set by the constructor.

[2015-09-09 01:02] nmaguirre opened #6 "Missing precondition for routine make_with_text.MICRODVD_SUBTITLE_ITEM"
Routine make_with_text from class MICRODVD_SUBTITLE_ITEM has no explicit precondition. This routine must have a specific, explicit, precondition, indicating the acceptable values for start and stop frames, and the provided text.

[2015-09-09 01:06] nmaguirre opened #7 "Missing implementation for routine adjust_start_frame.MICRODVD_SUBTITLE_ITEM"
Routine adjust_start_frame from class MICRODVD_SUBTITLE_ITEM has an empty implementation. This routine must be implemented, guided by its textual description.

[2015-09-09 03:05] nmaguirre opened #8 "Missing unit tests for routine adjust_start_frame.MICRODVD_SUBTITLE_ITEM"
Routine adjust_start_frame from class MICRODVD_SUBTITLE_ITEM has no unit tests to assess its behaviour. At least one unit "positive" and one "negative" unit test must be provided for this routine. In this context, 'positive' is a test that evaluates the correct behaviour of the routine when right arguments are passed, while 'negative' refers to tests that check that the routine correctly controls

[2015-09-09 03:08] nmaguirre opened #9 "Missing precondition for routine adjust_start_frame.MICRODVD_SUBTITLE_ITEM"
Routine adjust_start_frame from class MICRODVD_SUBTITLE_ITEM has no explicit precondition. This routine must have a specific, explicit, precondition, indicating the acceptable new value as a start frame.

[2015-09-09 12:45] nmaguirre opened #10 "Missing precondition for routine adjust_stop_frame.MICRODVD_SUBTITLE_ITEM"
Routine adjust_stop_frame from class MICRODVD_SUBTITLE_ITEM has no explicit precondition. This routine must have a specific, explicit, precondition, indicating the acceptable new value as a stop frame.

[2015-09-09 12:56] nmaguirre opened #11 "Missing unit tests for routine adjust_stop_frame.MICRODVD_SUBTITLE_ITEM"
Routine adjust_stop_frame from class MICRODVD_SUBTITLE_ITEM has no unit tests to assess its behaviour. At least one unit "positive" and one "negative" unit test must be provided for this routine. In this context, 'positive' is a test that evaluates the correct behaviour of the routine when right arguments are passed, while 'negative' refers to tests that check that the routine correctly controls i

[2015-09-09 12:59] nmaguirre opened #12 "Missing postcondition for routine adjust_start_frame.MICRODVD_SUBTITLE_ITEM"
Routine adjust_start_frame from class MICRODVD_SUBTITLE_ITEM has no explicit postcondition. This routine must have a specific, explicit, postcondition, indicating how the state of the item is set by the routine.

[2015-09-09 13:00] nmaguirre opened #13 "Missing postcondition for routine adjust_stop_frame.MICRODVD_SUBTITLE_ITEM"
Routine adjust_stop_frame from class MICRODVD_SUBTITLE_ITEM has no explicit postcondition. This routine must have a specific, explicit, postcondition, indicating how the state of the item is set by the routine.

[2015-09-09 13:01] nmaguirre opened #14 "Missing implementation for routine adjust_stop_frame.MICRODVD_SUBTITLE_ITEM"
Routine adjust_stop_frame from class MICRODVD_SUBTITLE_ITEM has an empty implementation. This routine must be implemented, guided by its textual description.

[2015-09-09 13:03] nmaguirre opened #15 "Missing unit tests for routine make_with_text.MICRODVD_SUBTITLE_ITEM"
Routine make_with_text from class MICRODVD_SUBTITLE_ITEM has no unit tests to assess its behaviour. At least one unit "positive" and one "negative" unit test must be provided for this routine. In this context, 'positive' is a test that evaluates the correct behaviour of the routine when right arguments are passed, while 'negative' refers to tests that check that the routine correctly controls ill-

[2015-09-09 14:38] rdegiovanni opened #16 "Missing implementation for routine set_text.MICRODVD_SUBTITLE_ITEM"
Routine set_text from class MICRODVD_SUBTITLE_ITEM has an empty implementation. This routine must be implemented, guided by its textual description.

[2015-09-09 14:44] rdegiovanni opened #17 "Missing unit tests for routine set_text.MICRODVD_SUBTITLE_ITEM"
Routine set_text from class MICRODVD_SUBTITLE_ITEM has no unit tests to assess its behaviour. At least one "positive" and one "negative" unit test must be provided for this routine. In this context, 'positive' is a test that evaluates the correct behaviour of the routine when right arguments are passed, while 'negative' refers to tests that check that the routine correctly controls ill-formed dire

[2015-09-09 14:48] rdegiovanni opened #18 "Missing precondition for routine set_text.MICRODVD_SUBTITLE_ITEM"
Routine set_text from class MICRODVD_SUBTITLE_ITEM has no explicit precondition. This routine must have a specific precondition indicating the acceptable new value for the text.

[2015-09-09 14:49] rdegiovanni opened #19 "Missing postcondition for routine set_text.MICRODVD_SUBTITLE_ITEM"
Routine set_text from class MICRODVD_SUBTITLE_ITEM has no explicit postcondition. This routine must have a specific, explicit, postcondition, indicating how the state of the item is set by the routine.

[2015-09-10 21:57] nicoboccolini commented on #1
solved in rev. 25aa089edd6487716a0039f71447f9f23eecbfa4

[2015-09-10 22:01] gamassimino commented on #7
solved in rev. 417b380

[2015-09-10 22:05] ezedepetris commented on #16
Resolved in rev ffd0e91

[2015-09-10 22:09] arangue commented on #4
Resolved in rev. 38dea03685dba00a9412a17c28f7940c4921d13e

[2015-09-10 22:09] lukax77 commented on #13
Resolved in rev. f08d653

[2015-09-10 22:10] ibongiovanni commented on #9
Resolved in rev 3b8c687

[2015-09-10 22:11] ezedepetris commented on #16
Resolved in rev 4ad5b26

[2015-09-10 22:13] gamassimino opened #20 "Missing implementation for routine add_subtitle_item.MICRODVD_SUBTITLE"

[2015-09-10 22:13] jicibils opened #21 "Missing unit test for routine flush.MICRODVD_SUBTITLE"

[2015-09-10 22:15] dastorga opened #22 "Missing implementation for routine change_fps.MICRODVD_SUBTITLE"

[2015-09-10 22:15] LfLanzoni opened #23 "Missing implementation for routine change_fps.MICRODVD_SUBTITLE"
Routine change_fps from class MICRODVD has an empty implementation. This routine must be implemented, guided by its textual description.

[2015-09-10 22:15] nicodomgz opened #24 "Missing implementation for routine remove_items.MICRODVD_SUBTITLE"
Routine remove_items from class MICRODVD_SUBTITLE has an empty implementation. This routine must be implemented, guided by its textual description.

[2015-09-10 22:15] andruvetto opened #25 "Missing postcondition for routine change_fps.MICRODVD_SUBTITLE"

[2015-09-10 22:15] guttlein commented on #3
solved on f04c269104b393c8b743c69cc60b5ac697a496d5

[2015-09-10 22:16] GastonPalandri opened #26 "Missing Precondition from routine remove_items.MICRODVD_SUBTITLE"

[2015-09-10 22:17] #23 closed, assigned to LfLanzoni

[2015-09-10 22:17] ezedepetris opened #27 "Missing implementation for routine MICRODVD_SUBTITLE.make"

[2015-09-10 22:17] arangue opened #28 "Missing precondition for routine change_fps.MICRODVD_SUBTITLE"

[2015-09-10 22:17] vikibueno opened #29 "Missing precondition for routine remove_items.MICRODVD_SUBTITLE"
Routine remove_items from class MICRODVD_SUBTITLE has an empty precondition.

[2015-09-10 22:18] dastorga opened #30 "Missing unit test for routine change_fps.MICRODVD_SUBTITLE"

[2015-09-10 22:20] jicibils opened #31 "Missing unit test for routine remove_items.MICRODVD_SUBTITLE"

[2015-09-10 22:20] guttlein opened #32 "Missing postcondition for routine change_fps.MICRODVD_SUBTITLE"
Doing the postcondition of routine change_fps for MICRODVD_SUBTITLE Class

[2015-09-10 22:20] ibongiovanni opened #33 "Missing postcondition for routine MICRODVD_SUBTITLE.flush"

[2015-09-10 22:21] damarisg opened #34 "Missing implementation for routine frames_per_second.MICRODVD_SUBTITLE"

[2015-09-10 22:22] lukax77 opened #35 "Missing implementation for routine repOK.MICRODVD_SUBTITLE"
Routine repOK from class MICRODVD_SUBTITLE has an empty implementation.

[2015-09-10 22:22] LfLanzoni opened #36 "Missing unit test for routine add_subtitle_item.MICRODVD_SUBTITLE"

[2015-09-10 22:27] sigarcia opened #37 "Missing precondition for routine add_subtitle_item.MICRODVD_SUBTITLE"

[2015-09-10 22:28] nicodomgz opened #38 "Missing implementation for routine set_hour.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:28] ezedepetris opened #39 "Missing implementation for routine SUBRIP_SUBTITLE_TIME.make_with_values"

[2015-09-10 22:29] vikibueno opened #40 "Missing implementation for routine set_minute.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:29] ibongiovanni commented on #33
Solved in rev f198b86

[2015-09-10 22:29] GastonPalandri commented on #26
Solved in rev. f3ae953

[2015-09-10 22:29] damarisg opened #41 "Missing implementation for routine set_milliseconds.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:30] jicibils opened #42 "Missing implementation for routine set_seconds.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:30] castagneris opened #43 "Missing implementation for routine SUBRIP_SUBTITLE_TIME.set_hour"

[2015-09-10 22:30] nicoboccolini opened #44 "Missing implementation for routine SUBRIP_SUBTITLE_TIME.make_with_values"
Routine make_with_values from class SUBRIP_SUBTITLE_TIME has an empty implementation. This routine must be implemented, guided by its textual description.

[2015-09-10 22:31] dastorga opened #45 "Missing postcondition for routine add_subtitle_item.MICRODVD_SUBTITLE"

[2015-09-10 22:31] ibongiovanni opened #46 "Missing implementation for routine MICRODVD_SUBTITLE.flush"

[2015-09-10 22:31] LfLanzoni opened #47 "Missing precondition for routine SUBRIP_SUBTITLE_TIME.set_minute"

[2015-09-10 22:32] nicodomgz opened #48 "Missing precondition for routine set_seconds.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:32] ezedepetris commented on #27
Resolved in rev f4c0b68

[2015-09-10 22:32] damarisg opened #49 "Missing implementation for routine make.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:32] GastonPalandri commented on #29
Solved in rev. f3ae953

[2015-09-10 22:33] vikibueno opened #50 "Missing precondition for routine set_hour.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:35] nicodomgz commented on #38
Solved in rev 021f4bc

[2015-09-10 22:35] castagneris commented on #43
duplicate issue https://github.com/nmaguirre/eiffel-subtitle-converter/issues/38

[2015-09-10 22:35] #43 closed, assigned to castagneris

[2015-09-10 22:37] LfLanzoni commented on #23
Duplicate issue https://github.com/nmaguirre/eiffel-subtitle-converter/issues/22

[2015-09-10 22:38] castagneris opened #51 "Missing postcondition for routine set_hour.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:38] ibongiovanni commented on #46
Solved in rev f198b86

[2015-09-10 22:44] ezedepetris commented on #44
i create the same routine  a few minutes before you

[2015-09-10 22:44] damarisg commented on #41
Solved in rev. b1c066e

[2015-09-10 22:46] jicibils commented on #42
Resolved in rev. 31a8314

[2015-09-10 22:46] castagneris opened #52 "Missing postcondition for routine set_minute.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:47] guttlein opened #53 "Missing postcondition for routine make.SUBRIP_SUBTITLE_TIME"
Postcondition for make in SUBRIP_SUBTITLE_TIME class is missing!

[2015-09-10 22:48] dromero19 opened #54 "Missing implementation for routine SUBRIP_SUBTITLE_TIME.make_with_values"

[2015-09-10 22:48] vikibueno commented on #40
Solved in rev. 50e5d6b

[2015-09-10 22:49] marianoruano commented on #11
Resolved in rev 37adf8a

[2015-09-10 22:49] ezedepetris commented on #39
Resolved in rev 108d360

[2015-09-10 22:49] nicoboccolini commented on #44
you were wrong with tittle of the issue! solved in rev. 2badad681e0e5e84d9a1f1f9106840a8b18617e6

[2015-09-10 22:52] nicodomgz opened #55 "Missing precondition for routine make_with_values.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:53] nicoboccolini opened #56 "Missing implementation for routine SUBRIP_SUBTITLE_TIME.move_forward"

[2015-09-10 22:55] dromero19 opened #57 "Missing implementation for routine SUBRIP_SUBTITLE_TIME.set_milliseconds"

[2015-09-10 22:57] arangue commented on #28
Resolved in rev. 59d3322

[2015-09-10 22:59] jicibils opened #58 "Missing unit test for routine set_minute.SUBRIP_SUBTITLE_TIME"

[2015-09-10 22:59] dromero19 commented on #54
Solved in rev. 2badad6 by @nicoboccolini

[2015-09-10 23:00] arangue commented on #22
Resolved in rev. 8dab404

[2015-09-10 23:02] nicodomgz opened #59 "Missing unit test for routine make.SUBRIP_SUBTITLE_TIME"

[2015-09-10 23:03] jicibils opened #60 "Missing class for SUBRIP_SUBTITLE_TIME_TESTS"

[2015-09-10 23:04] #34 closed, assigned to damarisg

[2015-09-10 23:06] vikibueno opened #61 "Missing unit test for routine set_seconds.SUBRIP_SUBTITLE_TIME"

[2015-09-10 23:06] damarisg opened #62 "Missing unit test for routine set_hours.SUBRIP_SUBTITLE_TIME"

[2015-09-10 23:08] ezedepetris opened #63 "Missing class for MICRODVD_SUBTITLE_TEST"

[2015-09-10 23:10] vikibueno commented on #50
Solved in rev. 091268b

[2015-09-10 23:11] GastonPalandri opened #64 "Missing poscondition for routine remove_items.MICRODVD_SUBTITLE"

[2015-09-10 23:13] ezedepetris commented on #63
Resolved in rev b4386d1

[2015-09-10 23:14] dromero19 opened #65 "Missing implementation for routine SUBRIP_SUBTITLE_TIME.rewind"

[2015-09-10 23:16] gamassimino commented on #20
solved in rev. 314608e

[2015-09-10 23:19] damarisg commented on #49
everything is set to zero by default

[2015-09-10 23:20] gamassimino opened #66 "Missing implementation for routine MICRODVD_SUBTITLE.remove_item"

[2015-09-10 23:20] guttlein commented on #53
Solved on 985d7e495094e62e345aaec8854d6b3698cb4bdb

[2015-09-10 23:20] #1 closed, assigned to nicoboccolini

[2015-09-10 23:21] #13 closed, assigned to lukax77

[2015-09-10 23:22] dromero19 commented on #41
Wrong rev. number, check it please.

[2015-09-10 23:22] nicodomgz commented on #48
Solved in rev 9d091f2

[2015-09-10 23:22] dromero19 commented on #57
Solved by @damarisg

[2015-09-10 23:24] #3 closed, assigned to guttlein

[2015-09-10 23:24] marianoruano opened #67 "Missing unit test for routine flush.MICRODVD_SUBTITLE"

[2015-09-10 23:25] nmaguirre commented on #50
Please notice that project does not compile. You made a mistake when writing >=. Please correct asap! Removing resolved tag.

[2015-09-10 23:28] jicibils commented on #60
Resolved in rev. 9b1be59

[2015-09-10 23:29] vikibueno commented on #50
Solved in rev. 590420b

[2015-09-10 23:29] #67 closed, assigned to marianoruano

[2015-09-10 23:30] marianoruano opened #68 "Missing unit test for routine set_milliseconds.SUBRIP_SUBTITLE_TIME"

[2015-09-10 23:34] miri15 opened #69 "Missing precondition for routine in set_milliseconds.SUBRIP_SUBTITLE_TIME"

[2015-09-10 23:34] jicibils commented on #67
duplicate issues #21

[2015-09-10 23:37] ibongiovanni opened #70 "Missing unit tests for routine MICRODVD_SUBTITLE.repOk"
Routine repOk from class MICRODVD_SUBTITLE has no unit tests to assess its behaviour. At least one "positive" unit test must be provided for this routine. In this context, 'positive' is a test that evaluates the correct behaviour of the routine when right arguments are passed, while 'negative' refers to tests that check that the routine correctly controls ill-formed direct or indirect inputs.

[2015-09-10 23:38] GastonPalandri commented on #64
Solved in rev. 25ad2a1

[2015-09-10 23:40] gamassimino opened #71 "Missing precondition for routine MICRODVD_SUBTITLE.flush"

[2015-09-10 23:40] dahue commented on #6
Solved in a22fa75

[2015-09-10 23:42] gamassimino commented on #66
duplicated in issue #24

[2015-09-10 23:43] nicodomgz commented on #55
Solved in rev 0b585d9

[2015-09-10 23:44] marianoruano commented on #11
Correction name of tests in rev 7c350c6

[2015-09-10 23:45] gamassimino commented on #71
solved in rev. 7d8edfa

[2015-09-10 23:49] GastonPalandri commented on #29
Solved in rev. 3a6c6d2

[2015-09-10 23:50] GastonPalandri commented on #26
Change precondition. Solved in rev. 3a6c6d2

[2015-09-11 00:14] dahue commented on #6
precondition is not complete.

[2015-09-11 00:14] dahue commented on #6
Solved in c52a467

[2015-09-11 01:08] damarisg opened #72 "Missing postcondition for routine make.MICRODVD_SUBTITLE"

[2015-09-11 01:19] gamassimino opened #73 "Missing postcondition for routine MICRODVD_SUBTITLE_ITEM.make_with_text"

[2015-09-11 01:22] gamassimino opened #74 "Missing postcondition for routine SUBRIP_SUBTITLE_TIME.make_with_values"

[2015-09-11 01:25] damarisg opened #75 "Missing postcondition for routine make_with_values.SUBRIP_SUBTITLE_TIME"

[2015-09-11 01:25] gamassimino opened #76 "Missing postcondition for routine SUBRIP_SUBTITLE_TIME.move_forward"

[2015-09-11 01:25] gamassimino opened #77 "Missing pretcondition for routine SUBRIP_SUBTITLE_TIME.move_forward"

[2015-09-11 01:27] damarisg opened #78 "Missing test for routine set_hour.SUBRIP_SUBTITLE_TIME"

[2015-09-11 01:28] damarisg opened #79 "Missing postcondition for routine in set_milliseconds.SUBRIP_SUBTITLE_TIME"

[2015-09-11 01:41] damarisg commented on #75
solved in rev 05f0512

[2015-09-11 01:43] damarisg commented on #74
duplicate issues #75

[2015-09-11 02:04] mromina commented on #18
Solved in rev. 8d2dff8

[2015-09-11 02:18] mromina commented on #19
Solved in rev. 8d2dff8

[2015-09-11 02:19] mromina commented on #17
Solved in rev. 8d2dff8

[2015-09-11 02:39] dastorga commented on #12
Solved in 9efe4d9ed404c8d0151e6381611c08a09bd2f8a4

[2015-09-11 03:09] nicoboccolini commented on #56
resolved in rev. 5064ada9435e7acf0c735ec11dd9bddc1fe979e9

[2015-09-11 03:23] gamassimino commented on #73
solved in rev. e0b9b21

[2015-09-11 03:26] gamassimino commented on #77
solved in rev. 528b125

[2015-09-11 03:37] nicoboccolini commented on #77
The variable name is wrong!! check

[2015-09-11 03:44] gamassimino commented on #76
solved in rev. 1e7fbef

[2015-09-11 03:46] gamassimino commented on #77
sorry
fix in rev. 4975d64

[2015-09-11 03:48] nicoboccolini opened #80 "Missing precondition for routine SUBRIP_SUBTITLE_TIME.rewind"

[2015-09-11 03:50] nicoboccolini opened #81 "Missing postcondition for routine SUBRIP_SUBTITLE_TIME.rewind"

[2015-09-11 12:12] nmaguirre commented on #29
Please do not close issues, just mark them as 'resolved'.

Two problems with this precondition. First, it refers to a private attribute, so PROJECT DOES NOT COMPILE. Second, it states something that is redundant, since items should always be non-Void, and therefore its size is >= 0.

Please correct asap. Removing 'resolved' tag.

[2015-09-11 12:14] nmaguirre commented on #71
Precondition of flush is wrong, it refers to a non existent feature. Please correct asap. Removing 'resolved' tag.

[2015-09-11 13:07] GastonPalandri commented on #29
please remove this issue , it was created before # 26

change rev. be4bee7

[2015-09-11 13:07] GastonPalandri commented on #26
change rev. be4bee7

[2015-09-11 13:27] miri15 commented on #69
Solved in rev. 707bfb4

[2015-09-11 13:44] nmaguirre commented on #20
Implementation is wrong. Calling a feature (make) without the appropriate number of parameters. Project does not compile due to this problem. Correct asap. Removing 'resolved'.

[2015-09-11 13:45] nmaguirre commented on #20
This implementation actually has MANY problems. You are trying to access with write privileges some local attributes. This is forbidden in Eiffel. Correct asap.

[2015-09-11 13:46] nmaguirre commented on #20
You are also referring to an attribute that does not exist (item). Please compile before committing.

[2015-09-11 13:47] nmaguirre commented on #72
Implementation is wrong, it does not compile. Please compile before committing. repOK.make does not make any sense. Please correct.

[2015-09-11 13:51] nmaguirre commented on #26
Please add the appropriate labels (specification). Require clause is not correctly indented. Expression
 valid_items = item.count /= 0 does not make sense. What is "valid_items"? The label? Then use ":", not "=". What is item? It does not exist.

[2015-09-11 14:03] LfLanzoni commented on #47
Solved in 4938a32

[2015-09-11 14:48] #66 closed, assigned to gamassimino

[2015-09-11 15:02] dromero19 commented on #10
Solved in rev. ca8f2b2

[2015-09-11 15:19] dromero19 commented on #5
It is implemented but nobody said who did it.

[2015-09-11 18:42] damarisg commented on #41
Thanks, Solved in rev. cb5e465

[2015-09-11 18:53] damarisg commented on #72
I assign the postcondition make.MICRODVD_SUBTITLE , the implementation make.MICRODVD_SUBTITLE  is the issue #27.

[2015-09-11 19:07] damarisg commented on #79
Solved in rev.  a78a9e9

[2015-09-11 20:25] marianoruano commented on #68
Solved in rev. d316ccd

[2015-09-11 20:30] marianoruano commented on #11
Fixed ir rev 34906b2

[2015-09-11 20:43] jicibils commented on #58
Resolved in rev. 4246540 and da6da75

[2015-09-11 20:45] dromero19 commented on #35
This routine doesn't exist, 'repOK' is a boolean variable of the class.

[2015-09-11 20:50] dromero19 commented on #20
Also you need to correct the indentation of the routine, doesn't follow the indentation of the class.

[2015-09-11 21:19] nicoboccolini commented on #56
fixed the variable name! resolved en rev. c1ad688c0c512fedf8de25104172ca286fe31699

[2015-09-11 21:20] sigarcia commented on #8
Solved in rev. 3d039e7

[2015-09-11 21:25] dromero19 opened #82 "Missing invariant for class SUBRIP_SUBTITLE_TIME"

[2015-09-11 22:01] dromero19 commented on #82
Solved in rev. 0a46513

[2015-09-11 22:55] ibongiovanni commented on #70
test implemented in rev 6a9a978

[2015-09-12 00:22] miri15 commented on #15
Tests implementation only for positive cases. Only missing negative cases. Solved in rev. ae0995d

[2015-09-12 13:36] lukax77 commented on #35
When implementing a complex abstract data type, it is often helpful to write a function internal to the module that checks that the rep invariant holds. This function can provide an additional level of assurance about your reasoning the correctness of the code. By convention we will call this function repOK.

[2015-09-12 14:12] dromero19 commented on #35
Sorry, you're right. Thanks for your comment.

[2015-09-12 18:22] nicoboccolini commented on #80
solved in rev. 4ebd8a3cd2cf614102c34e14d5a8ea46adc43b17

[2015-09-12 18:32] nmaguirre commented on #2
Well done!

[2015-09-12 18:32] #2 closed, assigned to fedebono

[2015-09-12 18:33] nmaguirre commented on #4
Well done!

[2015-09-12 18:33] #4 closed, assigned to arangue

[2015-09-12 18:36] nmaguirre commented on #5
It you go to the code, open the file and press "blame", it tells you who did it. It was gamassimino.

You are right. This is wrong, in the sense that if you are solving an issue, you should state that you are doing so! Well spotted. Thanks. I'm closing the issue.

[2015-09-12 18:36] #5 closed, assigned to dromero19

[2015-09-12 18:39] nicoboccolini commented on #81
solved in rev. 6345ec3e8b3675de72cc845eb6ffa5c66bb5d8e3

[2015-09-12 18:41] nmaguirre commented on #6
There are various problems with the precondition. It's a long "and" chain, that you should split in labelled smaller preconditions. Conditions such as "new_start_frame /= Void" are redundant, and must be eliminated (since new_start_frame is an expanded integer, it cannot be Void). The new_stop_frame must be strictly greater than new_start_frame (don't use <= for comparison in this case, use < inst

[2015-09-12 19:03] nicoboccolini commented on #81
fixed in rev. c00a54985dd6a28e1a2138a96d21b8a791bc0f7b

[2015-09-12 19:13] nmaguirre commented on #7
Please, to make it more readable, leave a blank space between assignee variable and :=, and := the assigned expression. Removing the 'resolved' tag for the moment.

[2015-09-12 19:15] nmaguirre commented on #9
Please notice that new_start_frame cannot be greater than or equal to the stop_frame. Please correct. I'm removing the 'resolved' tag.

[2015-09-12 19:16] nmaguirre commented on #10
Well done!

[2015-09-12 19:16] #10 closed, assigned to dromero19

[2015-09-12 19:19] nmaguirre commented on #11
Tests are alright, but note tag "testting", with tt instead of t, is wrong. Please correct. Removing the 'resolved' tag.

[2015-09-12 21:28] nmaguirre commented on #12
Please add a tag with a representative name to the postcondition. Thanks!

[2015-09-12 21:35] sigarcia commented on #8
Solved in rev. 701950c

[2015-09-12 22:12] lukax77 commented on #35
Resolved in rev. 350b34f

[2015-09-12 22:16] ibongiovanni commented on #9
Solved in rev c6ffcde

[2015-09-12 23:55] nicoboccolini opened #83 "Missing unit test for routine SUBRIP_SUBTITLE_TIME.move_forward"

[2015-09-12 23:57] nicoboccolini opened #84 "Missing unit test for routine SUBRIP_SUBTITLE_TIME.rewind"

[2015-09-13 00:01] nmaguirre commented on #9
Well done!

[2015-09-13 00:01] #9 closed, assigned to ibongiovanni

[2015-09-13 00:02] nmaguirre commented on #16
Well done!

[2015-09-13 00:02] #16 closed, assigned to ezedepetris

[2015-09-13 00:06] nmaguirre commented on #17
Two small things to correct. First, in the note, change testting --> testing. Second, in test_invalid_set_text,  indicate in the comment why the test fails (essentially, because you are setting the text with Void, and that is not allowed). Thanks. I'm removing the 'resolved' tag.

[2015-09-13 00:10] nmaguirre commented on #18
Void is a constant, and according to Eiffel's conventions, it should start with a capital letter (Void).

The tag in the precondition has nothing to do with what is being checked. Why not put something like new_text_not_void: ...

I'm removing the 'resolved' tag.

[2015-09-13 00:11] nmaguirre commented on #19
Please add a tag to the postcondition. It could be 'text_is_set: ... '. I'm removing the 'resolved' tag.

[2015-09-13 00:17] damarisg commented on #72
Solved in rev. ee94a8c

[2015-09-13 00:20] nmaguirre commented on #27
Implementation is wrong. repOK is a routine, not an object. Feature frames_per_second is a REAL, no need to call create. It should receive some appropriate default value. Smallest acceptable value is 23.97 (below that you woudn't see the movie as a continuous stream). I'm removing the resolved tag.

[2015-09-13 00:50] mromina commented on #17
Modification in the comment and note of test. Solved in rev. 0e6c658

[2015-09-13 00:58] mromina commented on #18
Modification in the tag of precondition. Solved in rev. e5d339f

[2015-09-13 01:03] mromina commented on #19
Added tag in the postcondition. Solved in rev. 5cfec3b

[2015-09-13 01:33] mromina commented on #30
Implementation tests of routine MICRODVD_SUBTITLE.change_fps. Solved in rev. 8c15d96

[2015-09-13 03:19] damarisg commented on #68
Tests are alright, but note tag "testting", with tt instead of t, is wrong and note "se_milliseconds", with "se_" instead of  "set_". Please correct. Removing the 'resolved' tag.

[2015-09-13 05:25] nicodomgz commented on #24
Solved in rev  4246748

[2015-09-13 17:33] nicoboccolini commented on #83
solved in rev. 061f75e96285c2ea1e8d4af4e7a27f6a6587c1d0

[2015-09-13 19:29] gamassimino commented on #20
sorry, fixed in rev. 1b6b1ba

[2015-09-13 19:40] gamassimino commented on #71
I'm not sure but the precondition culd be true?

[2015-09-13 19:44] gamassimino commented on #7
fixed in rev. 4affd9e

[2015-09-13 19:47] ibongiovanni commented on #71
I think precondition could be "items /= Void"

[2015-09-13 20:27] nicodomgz commented on #59
Solved in rev  03334de

[2015-09-13 20:38] dromero19 commented on #65
Solved in rev. de41b21

[2015-09-13 20:52] damarisg commented on #78
Solved in rev. 2dcc9ea

[2015-09-13 23:59] nicoboccolini commented on #84
solved in rev. c5d4583feeae8027deee49ab5317d6d021ad010b

[2015-09-14 00:51] andruvetto commented on #25
resolved in 8ecbb48

[2015-09-14 13:35] GastonPalandri commented on #26
Change rev. d3a1a25

[2015-09-14 13:40] nmaguirre commented on #7
Well done!

[2015-09-14 13:40] #7 closed, assigned to gamassimino

[2015-09-14 13:42] nmaguirre commented on #12
I think the label is not right. Should be something like 'start_frame_set'. Please change the label.

[2015-09-14 13:49] nmaguirre commented on #17
Well done!

[2015-09-14 13:49] #17 closed, assigned to mromina

[2015-09-14 13:49] nmaguirre commented on #18
Well done!

[2015-09-14 13:49] #18 closed, assigned to mromina

[2015-09-14 13:50] nmaguirre commented on #19
Well done!

[2015-09-14 13:50] #19 closed, assigned to mromina

[2015-09-14 13:53] nmaguirre commented on #20
Loop condition is wrong. In the declaration of local variables, separate ':' from the type. Constants (True, False, etc) should have the first letter as a capital letter. Removing the 'resolved' tag.

[2015-09-14 13:56] nmaguirre commented on #24
Loop condition is wrong. Please notice that comparing by <= in the loop condition will prevent from removing an item that should be removed. Removing 'resolved' label.

[2015-09-14 13:57] nmaguirre commented on #25
Please add a tag to the postcondition. Removing 'resolved' tag.

[2015-09-14 14:07] jicibils opened #85 "Missing implementation for routine SUBRIP_SUBTITLE.flush"

[2015-09-14 14:08] jicibils opened #86 "Missing implementation for routine SUBRIP_SUBTITLE_ITEM.set_text"

[2015-09-14 14:10] dastorga opened #87 "Missing implementation for routine adjust_stop_time. SUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:13] dastorga opened #88 "Missing implementation for routine adjust_start_time. SUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:16] arangue opened #89 "Misssing implementation for routine make_with_text.SUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:18] arangue opened #90 "Missing precondition for routine adjust_start_time.SUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:21] nicodomgz opened #91 "Missing test for routine make_with_text.SUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:23] nicodomgz opened #92 "Missing precondition for routine make_with_text.SUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:24] dastorga opened #93 "Missing precondition for routine adjust_stop_timeSUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:24] nicodomgz opened #94 "Missing implementation for routine remove_items.SUBRIP_SUBTITLE"

[2015-09-14 14:25] nicoboccolini opened #95 "Misssing implementation for routine SUBRIP_SUBTITLE.add_subtitle_item"

[2015-09-14 14:26] nmaguirre commented on #28
FPS must be >12 (less than 12 is insufficient for a stream of frames to be perceived as a continous image).

[2015-09-14 14:27] nicodomgz opened #96 "Missing Implementation for routine make.SUBRIP_SUBTITLE"

[2015-09-14 14:27] dastorga opened #97 "Missing poscondition for routine adjust_stop_timeSUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:27] nmaguirre commented on #30
Precondition for change_fps must be updated (also the tests). Minimum valid fps is 13. Should be defined using a constant.

[2015-09-14 14:28] jicibils commented on #86
Resolved in rev. fea0734

[2015-09-14 14:29] jicibils commented on #85
Resolved in rev. fea0734

[2015-09-14 14:31] jicibils opened #98 "Missing poscondition for routine set_text.SUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:31] nicodomgz opened #99 "Missing precondition for routine add_subtitle_item.SUBRIP_SUBTITLE"

[2015-09-14 14:33] nicoboccolini opened #100 "Misssing implementation for routine SUBRIP_SUBTITLE_ITEM.make"

[2015-09-14 14:34] jicibils commented on #98
Resolved in rev. 93427ae

[2015-09-14 14:35] jicibils opened #101 "Missing poscondition for routine flush.SUBRIP_SUBTITLE"

[2015-09-14 14:38] jicibils commented on #101
Resolved in rev. b689c3c

[2015-09-14 14:38] dastorga opened #102 "Missing poscondition for routine adjust_start_time.SUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:39] nicodomgz opened #103 "Misssing test for routine make.SUBRIP_SUBTITLE"

[2015-09-14 14:42] jicibils opened #104 "Missing class SUBRIP_SUBTITLE_TESTS"

[2015-09-14 14:43] jicibils opened #105 "Missing class SUBRIP_SUBTITLE_ITEM_TESTS"

[2015-09-14 14:45] damarisg opened #106 "Missing postcondition for routine make_with_text.SUBRIP_SUBTITLE_ITEM"

[2015-09-14 14:47] nicoboccolini opened #107 "Missing precondition for routine SUBRIP_SUBTITLE_ITEM.make"

[2015-09-14 14:48] nicoboccolini opened #108 "Missing poscondition for routine SUBRIP_SUBTITLE_ITEM.make"

[2015-09-14 14:53] jicibils commented on #105
Resolved in rev. 711d7b0

[2015-09-14 14:53] jicibils commented on #104
Resolved in rev. 711d7b0

[2015-09-14 14:55] nicoboccolini commented on #100
solved in rev. 2832c6c9ad5e64f2fd6d55fce32033fd065bd7cc

[2015-09-14 15:00] damarisg opened #109 "Missing test for routine set_text.SUBRIP_SUBTITLE_ITEM_TESTS"

[2015-09-14 15:05] nicoboccolini commented on #108
resolved in rev. 56d71fad6c3a98c06d1ed46302b4c2dc5c07f42f

[2015-09-14 15:07] rdegiovanni commented on #105
Well done!

[2015-09-14 15:07] #105 closed, assigned to jicibils

[2015-09-14 15:08] rdegiovanni commented on #104
Well done!

[2015-09-14 15:08] #104 closed, assigned to jicibils

[2015-09-14 15:19] rdegiovanni commented on #108
The expression text.is_empty=true is redundant. You can use directly text.is_empty.
In addition, remember we require that constants in Eiffel should have the first letter in uppercase (e.g., True and False.

[2015-09-14 15:23] rdegiovanni commented on #102
well done!

[2015-09-14 15:27] rdegiovanni commented on #101
well done!

[2015-09-14 15:27] #101 closed, assigned to jicibils

[2015-09-14 15:28] nicoboccolini commented on #108
Thanks! Solved in rev. 0900b12816d6ac170b83c64618d589029bae6297

[2015-09-14 15:41] dahue commented on #6
Solved in 5384bef

[2015-09-14 15:44] nicoboccolini commented on #108
i'm sorry! solved in rev. b194db5fc3f1f5a593ac75432f576a1bb68c66f8

[2015-09-14 15:45] nicoboccolini commented on #100
i'm sorry! solved in rev. b194db5

[2015-09-14 15:58] nicoboccolini commented on #107
solved in rev. ee955e51601dfc19f0fba8206ce75c617779aa9f

[2015-09-14 15:58] andruvetto opened #110 "Missing implementation for routine repOK.SUBRIP_SUBTITLE"
Routine repOK from class SUBRIP_SUBTITLE has an empty implementation.

[2015-09-14 16:06] andruvetto opened #111 "Missing precondition for routine repOK.SUBRIP_SUBTITLE"

[2015-09-14 16:08] andruvetto opened #112 "Missing postcondition for routine repOK.SUBRIP_SUBTITLE"

[2015-09-14 16:20] rdegiovanni commented on #88
well done!

[2015-09-14 16:20] #88 closed, assigned to dastorga

[2015-09-14 16:24] rdegiovanni commented on #102
Sorry,
You are using the = operator in the postcondition to compare two objects.
You should use the is_equal routine.

[2015-09-14 16:29] rdegiovanni commented on #87
You have to include the link to the revision where this issue was resolved.
Please do it, and set this issue as resolved again.

[2015-09-14 16:30] nricci commented on #108
Well Done!

[2015-09-14 16:34] rdegiovanni commented on #86
well done.

[2015-09-14 16:34] #86 closed, assigned to jicibils

[2015-09-14 16:36] arangue commented on #28
Fixed in rev. 7be9b1239d28467c7849eafe2b96068dcdd66113

[2015-09-14 16:44] nricci opened #113 "Make SUBRIP_SUBTITLE_TIME inherit from COMPARABLE"
It seems that there is no "nice" way of asserting order relationships between to SUBRIP_SUBTITLE_TIME objects. The proposal is to make the class inherit from COMPARABLE so the standard comparison operators (i.e. <, >, <=, >=) will be available.

[2015-09-14 16:49] nricci commented on #107
Seems alright. However the precondition is a bit messy. I've proposed to add comparison features in  SUBRIP_SUBTITLE_TIME (see issue #113 ), so that the same result will be achieved with much clearer code (i.e. start < end). Wait for the resolution of issue #113 and update your code accordingly.

[2015-09-14 16:51] dahue opened #114 "Missing unit test for routine adjust_start_time.SUBRIP_SUBTITLE_ITEM_TESTS"

[2015-09-14 16:51] nricci commented on #100
Well done.

[2015-09-14 16:51] #100 closed, assigned to nicoboccolini

[2015-09-14 16:55] dahue opened #115 "Missing unit test for routine adjust_stop_time.SUBRIP_SUBTITLE_ITEM_TESTS"

[2015-09-14 17:01] mromina opened #116 "Missing unit test for routine flush.SUBRIP_SUBTITLE_TESTS"

[2015-09-14 17:06] mromina opened #117 "Missing unit test for routine remove_items.SUBRIP_SUBTITLE_TESTS"

[2015-09-14 17:10] mromina opened #118 "Missing unit test for routine add_subtitle_item.SUBRIP_SUBTITLE_TESTS"

[2015-09-14 17:13] mromina opened #119 "Missing unit tests for routine SUBRIP_SUBTITLE.repOk"

[2015-09-14 17:14] miri15 commented on #15
Test implementation for negative cases. Solved in rev. 3a34b0a

[2015-09-14 17:16] nricci commented on #84
Seems alright. Well done.

[2015-09-14 17:16] #84 closed, assigned to nicoboccolini

[2015-09-14 17:21] nricci commented on #80
The precondition needs to be stronger. In this case it would allow to execute the method in a scenario as the one in test "test_set_rewind_invalid_value". The result is that the method will break as expected, but due to a violation of the invariant on exit. From the design by contract standpoint this represents a bug in the supplier. To sum up, the precondition needs to, additionally, ask that the

[2015-09-14 17:29] miri15 commented on #15
Test implementation for negative cases (equal frames). Solved in rev 8de4719

[2015-09-14 17:33] rdegiovanni commented on #97
Your are using = to compare two SUBRIP_SUBTITLE_TIME objects. You should use the is_equal routine.
In addition, remember to include the link to the revision where you solve the issue when adding the label resolved.

[2015-09-14 17:35] rdegiovanni commented on #98
You are using = to compare two STRING objects. You should use the is_equal routine.

[2015-09-14 17:38] rdegiovanni commented on #108
You are using = to compare SUBRIP_SUBTITLE_TIME objects. You should use the is_equal routine.

[2015-09-14 17:42] damarisg commented on #106
Solved in rev. ed755b3

[2015-09-14 17:48] damarisg commented on #106
Problems with github. I'm sorry! solved in rev. 28d4f5f

[2015-09-14 17:53] damarisg commented on #106
github problems, I was updated and did not mark my work. So to really mark rewrote changes. Solved in rev. 4fa43e3

[2015-09-14 17:53] rdegiovanni commented on #85
It seems to be fine. Check how it works when some test cases be provided.

[2015-09-14 17:53] #85 closed, assigned to jicibils

[2015-09-14 18:02] rdegiovanni commented on #82
well done!

[2015-09-14 18:10] rdegiovanni commented on #78
Change your comment  "--  set a hour invalid " for "set an invalid hour".

[2015-09-14 18:16] nmaguirre commented on #6
Well done!

[2015-09-14 18:16] #6 closed, assigned to dahue

[2015-09-14 18:21] nmaguirre commented on #15
I can think of one more (negative) test: one in which you call make_with_text with valid frame values, but Void text. Please add this test.

[2015-09-14 18:24] nmaguirre commented on #25
Please add 12 as a constant, instead of referring to the "magic" number. Define a feature:

min_valid_fps: INTEGER = 12

and add an appropriate comment to it. Then, in the precondition, use min_valid_fps instead of directly using 12. Thanks! Removing the 'resolved' tag, for the moment...

[2015-09-14 18:29] nmaguirre commented on #8
In the "positive" test case, please use a valid value different from 0. Thanks!

[2015-09-14 18:40] nmaguirre commented on #113
I agree completely!

N

[2015-09-14 18:40] #103 closed, assigned to damarisg

[2015-09-14 18:45] nicoboccolini commented on #108
Thanks! fixed in rev. 1cee6f017186166db2b1875edbcd23f8510a8ef3

[2015-09-14 18:46] nicodomgz opened #120 "Missing test for routine make.SUBRIP_SUBTITLE_ITEM"

[2015-09-14 18:47] damarisg commented on #78
Solved in rev. fcfba13

[2015-09-14 18:59] nmaguirre commented on #28
Please do not use 12 directly, a constant should be used instead. A different user is doing so as we speak. I'm removing the 'resolved' tag, but wait to work on this issue until the 'min_valid_fps' constant is defined.

[2015-09-14 19:00] nmaguirre commented on #33
Please add an appropriate tag to your postcondition. Thanks!

[2015-09-14 19:03] nmaguirre commented on #35
Constants must have the first letter as a capital (True, instead of true). Please solve this problem. Also, make sure that the list does not have void elements stored in it. Removing the 'resolved' tag.

[2015-09-14 19:04] nmaguirre commented on #38
Well done!

[2015-09-14 19:04] #38 closed, assigned to nikd93

[2015-09-14 19:04] nmaguirre commented on #39
Well done!

[2015-09-14 19:04] #39 closed, assigned to ezedepetris

[2015-09-14 19:05] nricci commented on #108
Thanks! Closing for the moment.

[2015-09-14 19:05] #108 closed, assigned to nicoboccolini

[2015-09-14 19:06] nmaguirre commented on #40
Well done!

[2015-09-14 19:06] #40 closed, assigned to vikibueno

[2015-09-14 19:07] nricci commented on #106
You should use is_equal rather than "=" to compare objects. Please change this. I'm removing the resolved tag.

[2015-09-14 19:15] damarisg commented on #96
Solved in rev. 2e352ce

[2015-09-14 19:15] nricci commented on #81
Well done. One suggestion though: given that the postcondition is so long, perhaps it would be a good idea to split it in various clauses with separate labels. Something like:

ensure
          valid_hour: <condition for hour>
          valid_minute: <condition for minute>

and so on...

Do this whenever posible. This improves readability and proves very useful when debugging.

[2015-09-14 19:17] nricci commented on #79
Well Done!

[2015-09-14 19:17] #79 closed, assigned to damarisg

[2015-09-14 19:19] nricci commented on #96
Well Done.

[2015-09-14 19:19] #96 closed, assigned to damarisg

[2015-09-14 19:22] nricci commented on #75
Well Done.

[2015-09-14 19:22] #75 closed, assigned to damarisg

[2015-09-14 19:29] nicodomgz commented on #24
Solved in rev.  4e52ab3

[2015-09-14 19:36] nicoboccolini commented on #81
Thanks! Fixed in rev. 7c3145a236039403661f668f71e75d103c679d94

[2015-09-14 19:39] damarisg commented on #106
Thanks!! Solved in rev. c1c8b1c

[2015-09-14 19:40] andruvetto commented on #25
Sorry, I think your comment refers to another issue. Tag to the postcondition was added in ca619b4c

[2015-09-14 19:45] dahue commented on #114
Solved in 5535dde

[2015-09-14 19:46] nmaguirre commented on #25
You are right! Still, the tag is inappropriate. should be something like "fps_set". Please change.

[2015-09-14 19:47] nmaguirre commented on #28
Sorry, I made the comment in the wrong place. Please add 12 as a constant, instead of referring to the "magic" number. Define a feature:

min_valid_fps: INTEGER = 12

and add an appropriate comment to it. Then, in the precondition, use min_valid_fps instead of directly using 12. Thanks! Removing the 'resolved' tag, for the moment...

[2015-09-14 20:07] dahue commented on #115
Solved in 6c8aba8

[2015-09-14 20:11] miri15 commented on #15
Negative case added. Solved in rev 9242b04

[2015-09-14 20:15] andruvetto commented on #25
solved in b92c73e

[2015-09-14 20:49] andruvetto commented on #110
Solved in 3c9f3e2.  Obviously be solved the issue #113

[2015-09-14 20:51] nicodomgz opened #121 "Missing precondition for routine set_text.SUBRIP_SUBTITLE_ITEM"

[2015-09-14 21:09] nmaguirre commented on #15
Well done!

[2015-09-14 21:09] #15 closed, assigned to miri15

[2015-09-14 21:13] lukax77 commented on #35
Resolved in rev. 3fb44f9

[2015-09-14 21:14] guttlein opened #122 "New routine time_millisecond in SUBRIP_SUBTITLE_TIME"
Making this new routine. It have to count the total time in milliseconds

[2015-09-14 21:14] nmaguirre commented on #24
Still wrong. You have a border condition. What if a subtitle item stops exactly at the same time as stop_frame?

[2015-09-14 21:14] nmaguirre commented on #25
Well done!

[2015-09-14 21:14] #25 closed, assigned to andruvetto

[2015-09-14 21:16] nmaguirre commented on #35
Well done. Still, res = False can be more concisely written as not res.

[2015-09-14 21:16] #35 closed, assigned to lukax77

[2015-09-14 21:19] castagneris commented on #52
Solved in . 8abb7a1

[2015-09-14 21:21] ezedepetris commented on #27
Resolved in rev d275384

[2015-09-14 21:23] nmaguirre commented on #110
Project does not compile. Please correct asap.

[2015-09-14 21:23] castagneris commented on #51
Solved in .361fd1a

[2015-09-14 21:25] damarisg commented on #121
Solved in rev. 4947206

[2015-09-14 21:26] guttlein commented on #122
Solved in 8bdef22bdf5416c94ae5bf549962a98973e1b572

[2015-09-14 21:29] jicibils commented on #98
Resolved in rev. ab5c205

[2015-09-14 21:30] nicodomgz commented on #120
Solved in rev.  2130e48

[2015-09-14 21:30] guttlein opened #123 "Missing postcondition on routine set_seconds.SUBRIP_SUBTITLE_TIME"
Missing postcondition. Solving!

[2015-09-14 21:32] guttlein commented on #123
Solved on 91cef09841d858c14459c135341ac55e147398b0

[2015-09-14 21:36] nicodomgz commented on #24
Solved in rev.  a6966c4

[2015-09-14 21:38] gamassimino commented on #20
fixed in rev. c32d78f

[2015-09-14 21:38] nicoboccolini commented on #107
solved in rev. 4bfca1cb2b63cca2b55da17461f5878125a87265

[2015-09-14 21:41] ibongiovanni commented on #70
an updated version implemented on rev d5e5f3c

[2015-09-14 21:56] gamassimino commented on #71
I deleted the precondition but added an invariant for the class
solved in rev. 9832e02

[2015-09-14 21:56] nicodomgz commented on #91
Solved in rev.  58eba19

[2015-09-14 21:59] ibongiovanni commented on #70
Two new tests added in rev 70c0f8e

[2015-09-14 22:00] gamassimino opened #124 "Missing postcondition for routine add_subtitle_item.SUBRIP_SUBTITLE"

[2015-09-14 22:01] damarisg commented on #109
Solved in rev. 09198b1

[2015-09-14 22:04] nicoboccolini commented on #80
fixed in rev. 162d50b410b7d2fe0e05a8f3c3d8ca4a25422239

[2015-09-14 22:06] ibongiovanni commented on #33
Someone else already added a tag for the postcondition so I'm adding the resolved tag

[2015-09-14 22:07] saiema commented on #122
The issue is solved in ea3f074

[2015-09-14 22:07] gamassimino commented on #20
sorry, the correct #commit is 3a9d063

[2015-09-14 22:08] gamassimino commented on #71
sorry, the correct #commit is 844b9bc

[2015-09-14 22:12] guttlein opened #125 "Missing postcondition for routine make.SUBRIP_SUBTITLE"
Missing postcondition for routine make.SUBRIP_SUBTITLE. Doing it!

[2015-09-14 22:13] gamassimino commented on #124
solved in rev. 4fa695e

[2015-09-14 22:15] dastorga commented on #97
Sorry!
Solved in c09ed44b8dd5a4c7ab70432c8de8e3044b5ba6c4

[2015-09-14 22:15] dastorga commented on #102
Sorry!
Solved in c09ed44b8dd5a4c7ab70432c8de8e3044b5ba6c4

[2015-09-14 22:18] nicodomgz opened #126 "Missing postcondition for routine remove_items.SUBRIP_SUBTITLE"

[2015-09-14 22:20] ezedepetris opened #127 "Missing precondition for routine SUBRIP_SUBTITLE.flush"

[2015-09-14 22:21] nicodomgz opened #128 "Missing precondition for routine remove_items.SUBRIP_SUBTITLE"

[2015-09-14 22:21] gamassimino commented on #124
the postcondition was wrong, fixed in rev. 3fb4fb1

[2015-09-14 22:22] guttlein commented on #125
solved in 61d51ef691b22f47ba33f15ae98fdaa2fe744d2c

[2015-09-14 22:22] nicodomgz commented on #126
Solved in rev.  6f06f51

[2015-09-14 22:23] ezedepetris commented on #127
Resolved in rev 87db6e9

[2015-09-14 22:26] mromina commented on #30
Correction in test. Solved in rev. a37854e

[2015-09-14 22:32] lukax77 commented on #35
The routine don't pass one test, therefore I corrected the routine.
Resolver in rev. 251cd7b

[2015-09-14 22:35] saiema commented on #122
Resolved and closed

[2015-09-14 22:35] #122 closed, assigned to guttlein

[2015-09-14 22:37] ezedepetris opened #129 "Missing unit test for routine SUBRIP_SUBTITLE.repOk"

[2015-09-14 22:39] sigarcia commented on #8
Solved in rev. 2d8ad8d

[2015-09-14 22:41] guttlein opened #130 "Missing postcondition on routine repOk for class MICRODVD_SUBTITLE"
Postcondition for repOk is missing. Doing it!

[2015-09-14 22:43] arangue commented on #28
Fixed in rev. 73bf67fe704a02d6907543ca07e65f22cc03a214

[2015-09-14 22:44] arangue commented on #28
Solved in rev. 8456377daeb15df15c39ed0e4379b72e434a01e7

[2015-09-14 22:45] ezedepetris commented on #129
#119

[2015-09-14 22:45] #129 closed, assigned to ezedepetris

[2015-09-14 22:47] arangue commented on #28
Solved in rev. 8456377daeb15df15c39ed0e4379b72e434a01e7

[2015-09-14 22:48] marianoruano commented on #11
Correction test in rev 4314547

[2015-09-14 22:50] arangue commented on #89
Solved in rev. 410cc11fe2f0f8ff17d4338abca32d497988df68

[2015-09-14 22:51] vikibueno commented on #61
Solved in rev. f76f398

[2015-09-14 22:56] dahue opened #131 "Missing unit test for routine is_less.SUBRIP_SUBTITLE_TIME"

[2015-09-14 22:57] dahue opened #132 "Missing unit test for routine is_equal.SUBRIP_SUBTITLE_TIME"

[2015-09-14 22:57] guttlein commented on #130
solved in 7a00b6bcb39e50857518bfa7fa33f1f0635f5ae2

[2015-09-14 22:57] marianoruano commented on #68
Correction test rev in rev 4681e91

[2015-09-14 23:02] gamassimino commented on #20
fixed in rev. fdd95c1

[2015-09-14 23:05] dahue commented on #113
Solved in 8576ac63f7a2ee052735e0aecfc1a6b2a89312bc

[2015-09-14 23:40] nicodomgz commented on #92
Solved in rev.   efb37ab

[2015-09-14 23:55] damarisg commented on #99
Solved in rev. f3fdfe3

[2015-09-14 23:56] nicodomgz commented on #94
Solved in rev.  01a4927

[2015-09-15 00:21] andruvetto commented on #110
solved in 77963c2

[2015-09-15 00:25] andruvetto commented on #94
Project does not compile. Please correct asap. start_frame is not definited for SUBRIP_SUBTITLE

[2015-09-15 00:54] LfLanzoni commented on #36
Soved 4642744
 https://github.com/nmaguirre/eiffel-subtitle-converter/commit/4642744afa8d775d65e11ae8a8d682e69754b57a

[2015-09-15 02:40] miri15 commented on #110
Does not create the object prev_stop_time. Should compare each value tuple .There is more than one case. Correct me if I'm wrong.

[2015-09-15 12:34] lukax77 opened #133 "Missing invariant from class SUBRIP_SUBTITLE_ITEM"
Class invariants capture global properties of the class. They are consistency constraints applicable to all instances of a class.

[2015-09-15 15:13] andruvetto commented on #110
not need to create the object because " prev_stop_time " is used for reference only. All cases are contemplated. Removing the labels bug. If you have any other question let me know

[2015-09-15 15:25] andruvetto commented on #127
Please check this precondition, the project does not compile for any error in it

[2015-09-15 15:41] andruvetto commented on #112
solved in 5fe5965

[2015-09-15 15:56] dahue commented on #131
Solved in 1b01b67

[2015-09-15 16:01] andruvetto commented on #111
solved in 8b500ad

[2015-09-15 17:28] miri15 commented on #110
Sorry. Is correct!  The class "SUBRIP_SUBTITLE_TIME"  inherit from COMPARABLE. I was wrong.

[2015-09-15 19:07] bisoardi commented on #14
Solved at commit 8d2a564

[2015-09-15 19:53] andruvetto commented on #113
Fixed in f7354f7479. Redefine " is_equal " was not necessary

[2015-09-15 20:01] andruvetto commented on #131
fixed in 688eb383

[2015-09-15 20:25] andruvetto commented on #113
fixed in c6c37da

[2015-09-15 20:34] sigarcia commented on #37
Solved in rev. 3ae6e95

[2015-09-15 20:45] guttlein opened #134 "Missing postcondition for routine time_milliseconds.subrip_subtitle_time.e"
Postcondition is missing. Doing it!

[2015-09-15 20:51] guttlein commented on #134
Solved on 6af229f1ac616406fee77a9ea0ed7d970feed7b1

[2015-09-15 21:21] ezedepetris commented on #127
i removing the precondition, the routine wipe_out check that, Resolved in rev 053c704

[2015-09-15 21:29] GastonPalandri commented on #26
modific routine remove_items. rev 8717811

[2015-09-15 21:31] nicodomgz commented on #94
Solved in rev. 0fbf095

[2015-09-15 22:43] lukax77 commented on #133
Resolved in rev. f6cb0a9

[2015-09-15 22:54] vikibueno commented on #128
Solved in rev. d7559c5

[2015-09-16 00:56] mromina commented on #116
Solved in rev. f15c1b9

[2015-09-16 01:47] dahue commented on #113
@andruvetto
Since is_less is inherited from the deferred class COMPARABLE there is no need for a redefinition.
The new implementation of is_less is not right due to that just compares if the first object has less milliseconds than the other but never checks hours, minutes and seconds.

[2015-09-16 01:56] dromero19 commented on #117
Solved in rev. 6f0c50f

[2015-09-16 02:17] nicoboccolini commented on #95
solved in rev. 8e7ef6368503e20dbc5b1ec13ad4ca93f7915c96

[2015-09-16 11:07] rdegiovanni commented on #133
Additionally you should require that the attribute text cannot be Void.

[2015-09-16 11:09] rdegiovanni commented on #134
well done!

[2015-09-16 11:09] #134 closed, assigned to guttlein

[2015-09-16 11:24] rdegiovanni commented on #131
Please add more relevant tests for this feature.
For example, when current_time is greater that other_time.

[2015-09-16 11:29] rdegiovanni commented on #130
Irrelevant postcondition (Result or not Result).
Please modify it to express something more important, or just remove it.

[2015-09-16 11:35] rdegiovanni commented on #128
Additionally require that both parameters start_time and stop_time be different that Void.
This new precondition should be placed first, before the current one.

[2015-09-16 11:39] rdegiovanni commented on #127
Consider to add a class invariant requiring that items should never be Void.
Now, I close this issue.

[2015-09-16 11:39] #127 closed, assigned to ezedepetris

[2015-09-16 11:43] lukax77 commented on #133
Thanks for your notice.
Resolved in rev. b56d39f

[2015-09-16 11:45] rdegiovanni commented on #126
It seems to be fine.
Well done!

[2015-09-16 11:45] #126 closed, assigned to nikd93

[2015-09-16 11:47] rdegiovanni commented on #125
well done.

[2015-09-16 11:47] #125 closed, assigned to guttlein

[2015-09-16 11:48] rdegiovanni commented on #133
well done.

[2015-09-16 11:48] #133 closed, assigned to lukax77

[2015-09-16 11:53] rdegiovanni commented on #124
Your are using = to compare objects. Please be sure to use the is_equal routine.

[2015-09-16 17:46] andruvetto commented on #113
@dahue
All routines are inherited from "comparable" but the only routine that must be redefined is "is_less" because ">", "<=" "> =" and "is_equal" are defined on the basis of this. The implementation is correct because it makes time to milliseconds and compared.

[2015-09-16 18:03] andruvetto commented on #112
fixed b8949ac

[2015-09-16 23:38] gamassimino commented on #124
corrected in rev .a71ed11

[2015-09-16 23:50] vikibueno commented on #128
Solved in rev. 3ed3edc

[2015-09-17 00:17] miri15 commented on #119
Solved rev in bf14f98

[2015-09-17 00:27] sigarcia commented on #118
Solved rev in 5c3f092

[2015-09-17 00:51] miri15 commented on #119
Solved rev in 7e80c1b

[2015-09-17 02:51] dahue commented on #131
Solved in 0bb4aa8c0c673e6167469b02628b186c6f165587

[2015-09-17 03:10] dahue commented on #113
Actually is not well implemented. The comparison right now is "Current.milliseconds < other.milliseconds" and it should be "Current.time_milliseconds < other.time_milliseconds", I already commited two new tests that prove my point.
@nmaguirre I unassign myself and assign @andruvetto to this issue due to he modified my initial implementation with no notification. So I'm no longer responsible for th

[2015-09-17 08:31] rdegiovanni commented on #124
The routine is_equal already returns a boolean value, so it's redundant to compare its result with True.
Remove the comparison with constant True.
In addition, remember that our conventions indicates that constants should start with a capital letter.

[2015-09-17 08:33] rdegiovanni commented on #128
well done.

[2015-09-17 08:33] #128 closed, assigned to vikibueno

[2015-09-17 08:41] rdegiovanni commented on #131
Please correct your tests: test_is_less_first and test_is_less_second.
The asserts you wrote don't correspond to what you are trying to test.

Try to assign more representative names to your test cases, not just first, second, ...

[2015-09-17 08:44] rdegiovanni commented on #123
well done.

[2015-09-17 08:44] #123 closed, assigned to guttlein

[2015-09-17 08:45] rdegiovanni commented on #121
well done!

[2015-09-17 08:45] #121 closed, assigned to damarisg

[2015-09-17 08:57] rdegiovanni commented on #120
well done!

[2015-09-17 08:57] #120 closed, assigned to nikd93

[2015-09-17 09:05] rdegiovanni commented on #119
well done.

[2015-09-17 09:05] #119 closed, assigned to miri15

[2015-09-17 09:10] rdegiovanni commented on #116
The variable flag is redundant in your test. Remove it.
 Please, add a more relevant assertion, e.g., check if after executing the routine flush, the number of elements is 0.

[2015-09-17 09:16] rdegiovanni commented on #115
Your negative test is not testing the routine adjust_stop_time in an exceptional situation. The problem is that you create an invalid SUBRIP_SUBTITLE_TIME object.

Please change this test, for example, calling routine adjust_stop_time with a Void value, or adjusting the stop_time in some value small to the start_value.

[2015-09-17 09:20] rdegiovanni commented on #114
well done.

[2015-09-17 09:20] #114 closed, assigned to dahue

[2015-09-17 09:42] rdegiovanni commented on #110
Well done.

[2015-09-17 09:42] #110 closed, assigned to andruvetto

[2015-09-17 11:13] dastorga commented on #87
Solved in 8afd9eff9709917d1b61aa05029dc6d109587239

[2015-09-17 13:39] andruvetto commented on #113
Sorry you are right. I fixed in 3c0a31d.

[2015-09-17 13:53] andruvetto commented on #111
I deleted the precondition because is not relevant. 91e3872

[2015-09-17 15:40] gamassimino commented on #124
okey, corrected in rev. a3ec252

[2015-09-17 15:51] dahue commented on #115
Sorry! Fixed in e1c34176b5900f38186a86e8f30bd355fa2abc03

[2015-09-17 16:27] dahue commented on #131
Sorry! Fixed in 38b6fad20d7e94b805204b4a5f816420f0b1245a

[2015-09-17 22:30] nricci commented on #131
Well done.

[2015-09-17 22:30] #131 closed, assigned to dahue

[2015-09-17 22:32] GastonPalandri commented on #76
Change the postcondicion, the solution is "hours = (old hours) - offset_milliseconds//3600000".
Change in all postcondition the routine.

[2015-09-17 22:48] nricci commented on #113
This is still wrong. For instance, if I were to compare 00:00:01:0001 < 00:00:00:0002 it would be true even though it is not the case. You should take into account seconds, minutes and hours too.

[2015-09-17 22:49] #8 closed, assigned to sigarcia

[2015-09-17 22:53] sigarcia commented on #118
Solved rev in 495cce3

[2015-09-17 23:01] LfLanzoni commented on #36
soved acd54960cfbd16a99ce7f205e21121abf4d070df

[2015-09-17 23:19] jicibils commented on #31
Resolved in rev. 5f2f4c5 and 3c1d455 and df41ace

[2015-09-17 23:22] jicibils commented on #21
Resolved in rev. 3c1d455 and 3c1d455

[2015-09-17 23:31] gamassimino commented on #20
changed in rev. 722a322

[2015-09-17 23:46] gamassimino commented on #76
fixed in rev. fa127db

[2015-09-18 02:25] mromina commented on #116
Change in the visibility of feature 'items' to do the test 'test_valid_flush'. Solved in rev. 854f815.
Modification of test 'test_valid_flush'. Resolved in rev.  258ae46

[2015-09-18 14:35] andruvetto commented on #113
@nricci Look at the implementation of "time_milliseconds", return hours_3600000 + minutes_60000 + seconds*1000 + milliseconds. So hours, minutes, seconds and milliseconds are compared

[2015-09-20 09:57] rdegiovanni commented on #124
well done.

[2015-09-20 09:57] #124 closed, assigned to gamassimino

[2015-09-22 21:51] gamassimino opened #135 "Missing unit test for routine is_ready_to_convert.CONVERTER_LOGIC"

[2015-09-22 21:56] nicoboccolini opened #136 "Misssing implementation for routine CONVERTER_LOGIC.is_ready_to_convert"

[2015-09-22 21:58] mromina opened #137 "Missing unit test for routine has_loaded_subtitle.CONVERTER_LOGIC"

[2015-09-22 21:58] guttlein opened #138 "Missing implementation for Class controller on routine make_with_no_subtitle"
Implementation is missing. Doing it!

[2015-09-22 21:59] mromina opened #139 "Misssing unit test for routine make_with_no_subtitle.CONTROLLER"

[2015-09-22 21:59] ezedepetris opened #140 "Missing implementation for routine CONTROLLER.make_with_microdvd_subtitle"

[2015-09-22 22:01] ezedepetris commented on #139
this issue already exist #138, check it

[2015-09-22 22:03] mromina opened #141 "Missing unit test for routine has_loaded_microdvd_subtitle.CONVERTER_LOGIC"

[2015-09-22 22:04] lukax77 opened #142 "Missing implementation for routine CONTROLLER.make_with_subrip_subtitle"
There should be a routine  that takes as a parameter a String and initialize the controller and logic with a loaded subtitle of type SUBRIP_SUBTITLE.

[2015-09-22 22:06] gamassimino commented on #141
duplicated in issue #136

[2015-09-22 22:06] gamassimino opened #143 "Missing class CONVERTER_LOGIC_TEST"

[2015-09-22 22:11] andruvetto opened #144 "Make texts of main_container from MAIN_WINDOW not editable"
The text of "main_container" are editable. Modify MAIN_WINDOW.build_main_container for fix it

[2015-09-22 22:11] mromina opened #145 "Missing unit test for routine is_observed_by.ABSTRACT_SUBJECT"

[2015-09-22 22:13] vikibueno opened #146 "Missing unit test for routine make_with_subrip_subtitle.CONTROLLER"

[2015-09-22 22:16] mromina opened #147 "Missing class CONTROLLER_TEST"

[2015-09-22 22:18] ibongiovanni opened #148 "Missing Implementation for routine source_as_subrip.CONVERTER_LOGIC"
Routine source_as_subrip from class CONVERTER_LOGIC has not been implemented.

[2015-09-22 22:19] damarisg opened #149 "Missing postcondition for routine is_ready_to_convert.CONVERTER_LOGIC"

[2015-09-22 22:22] guttlein commented on #130
solved on fa149b110555f061ba188c9a43eff7583472e30c

[2015-09-22 22:22] vikibueno opened #150 "Missing postcondition for routine source_as_subrip.CONVERTER_LOGIC"

[2015-09-22 22:22] damarisg opened #151 "Missing precondition for routine subscribe.ABSTRACT_SUBJECT"

[2015-09-22 22:42] gamassimino commented on #143
solved in rev. 550fc2b

[2015-09-22 22:51] GastonPalandri opened #152 "Missing invariant for routine is_ready_to_convert.CONVERTER_LOGIC"

[2015-09-22 22:52] ibongiovanni opened #153 "Missing Implementation for routine SUBRIP_SUBTITLE.out"

[2015-09-22 22:56] lukax77 opened #154 "Missing implementation for routine SUBRIP_SUBTITLE.make_from_file"
There should be a routine that takes as a parameter a file name and initialize the items list.

[2015-09-22 22:56] ezedepetris opened #155 "Missing implementation for subroutine Microdvd_subtitle.make_from_file"

[2015-09-22 23:06] gamassimino commented on #135
solved in rev. 140fe7e

[2015-09-22 23:15] gamassimino opened #156 "Missing unit test for routine CONVERTER_LOGIC.has_loaded_subtitle"

[2015-09-22 23:33] gamassimino commented on #156
solved in rev. a5d7dab

[2015-09-22 23:38] ezedepetris commented on #155
Resolved in rev 992b7a9

[2015-09-22 23:40] ezedepetris opened #157 "Missing implementation for routine MICRODVD_SUBTITLE_ITEM.make_from_string"

[2015-09-23 00:14] mromina commented on #156
Duplicated issue #137.

[2015-09-23 00:51] ezedepetris commented on #157
Resolved in rev 6d743b9

[2015-09-23 01:38] damarisg opened #158 "Missing postcondition for routine set_source.CONVERTER_LOGIC"
postcondition failure indicates that the source has been modified

[2015-09-23 02:03] damarisg commented on #158
6d743b9

[2015-09-23 02:13] damarisg commented on #158
d34ecf7

[2015-09-23 02:23] damarisg commented on #158
ae9c692

[2015-09-23 02:32] damarisg commented on #158
Solved in rev. d34ecf7

[2015-09-23 12:53] lukax77 opened #159 "Missing implementation for routine SUBRIP_SUBTITLE_TIME.make_from_string"
There should be a routine that takes as a parameter a string and initialize the subrip_subtitle_time attributes (hours, minutes, seconds, milliseconds) .

[2015-09-23 17:10] mromina opened #160 "Missing unit test for routine set_source.CONVERTER_LOGIC"

[2015-09-23 17:16] mromina opened #161 "Missing unit test for routine source_as_microdvd.CONVERTER_LOGIC"

[2015-09-23 17:17] mromina opened #162 "Missing unit test for routine source_as_subrip.CONVERTER_LOGIC"

[2015-09-23 17:20] mromina opened #163 "Missing implementation for routine convert_subtitle.CONVERTER_LOGIC"

[2015-09-23 17:21] mromina opened #164 "Missing unit test for routine convert_subtitle.CONVERTER_LOGIC"

[2015-09-23 17:58] ibongiovanni opened #165 "Missing implementation for routine has_loaded_subrip_subtitle.CONVERTER_LOGIC"
This routine has to return True if source is a SUBRIP_SUBTITLE, and otherwise return False

[2015-09-23 18:01] ibongiovanni commented on #165
Solved in rev b0bab41

[2015-09-23 18:02] ibongiovanni commented on #148
Solved in rev b0bab41

[2015-09-23 18:57] nicodomgz commented on #151
Solved in rev   3605711

[2015-09-23 19:20] lukax77 opened #166 "Missing unit test for routine SUBRIP_SUBTITLE_TIME.make_from_string"
Routine make_from_string from class SUBRIP_SUBTITLE_TIME has no unit tests to assess its behaviour.

[2015-09-23 19:24] nicodomgz opened #167 "Missing unit test for routine has_loaded_subrip_subtitle.CONVERTER_LOGIC"
No load test SubRip subtitles.

[2015-09-23 19:27] nicodomgz opened #168 "Missing Unit Test for routine CONTROLLER.make_with_microdvd_subtitle"

[2015-09-23 19:30] lukax77 commented on #166
Resolved in rev. 7c9192f

[2015-09-23 19:31] lukax77 commented on #159
Resolved in rev. 7c9192f

[2015-09-23 19:47] lukax77 opened #169 "Missing implementation for routine SUBRIP_SUBTITLE_ITEM.make_from_string"
There should be a routine that takes as a parameter two strings and initialize the subrip_subtitle_item attributes (start_time, stop_time, text) .
The first parameter must be the timecode format used is hours:minutes:seconds,milliseconds, the time that the subtitle should appear on the screen, followed by --> and the time it should disappear.
The second parameter must be the subtitle text.

[2015-09-23 20:11] lukax77 commented on #169
Resolved in rev. c32510b

[2015-09-23 20:20] nicodomgz opened #170 "Missing unit test for routine MICRODVD_SUBTITLE_ITEM.make_from_string"

[2015-09-23 20:24] nicodomgz opened #171 "Missing unit test for routine MICRODVD_SUBTITLE.make_from_file"

[2015-09-23 21:19] damarisg commented on #167
Solved in rev. c32510b

[2015-09-23 21:41] miri15 opened #172 "Missing implementation for routine CONVERTER_LOGIC.make"

[2015-09-23 22:10] miri15 commented on #172
Solved in rev. 93f4aee

[2015-09-23 22:30] miri15 commented on #172
Correction indentation of poscondition in rev. e0cc59d

[2015-09-23 22:39] miri15 opened #173 "Missing unit test for routine CONVERTER_LOGIC.make"

[2015-09-23 23:25] miri15 commented on #173
Solved in rev. 9f28f1e

[2015-09-23 23:35] ezedepetris commented on #157
i recheck my solution and repair it in rev 74ea72a

[2015-09-23 23:37] ezedepetris opened #174 "Missin unit test for the routine MICRODVD_SUBTITLE_ITEM.make_from_string"

[2015-09-23 23:37] ezedepetris commented on #174
Resolved in rev 2c631e2

[2015-09-24 13:52] lukax77 commented on #154
Resolved in rev. a901486

[2015-09-24 14:25] ibongiovanni opened #175 "Missing Implementation for routine SUBRIP_SUBTITLE_ITEM.out"

[2015-09-24 14:25] ibongiovanni opened #176 "Missing Implementation for routine SUBRIP_SUBTITLE_TIME.out"

[2015-09-24 14:32] ibongiovanni commented on #153
Resolved in rev f1692f1

[2015-09-24 14:55] ibongiovanni commented on #175
Resolved in rev e0d5c89

[2015-09-24 14:56] ibongiovanni commented on #153
Modified in rev e0d5c89

[2015-09-24 15:04] ibongiovanni commented on #176
Resolved in rev 50cb95c

[2015-09-24 15:08] ibongiovanni commented on #175
Modified in rev 85bdac0

[2015-09-24 15:43] andruvetto commented on #144
Solved in b86809c1ebb1

[2015-09-24 19:39] guttlein commented on #138
solved on ddf7a65e732e001690bdaef2ebee7380ea740385

[2015-09-24 19:46] guttlein opened #177 "Missing postcondition on make_with_no_subtitle.CONTROLLER"
Postcond missing. Doing it!

[2015-09-24 19:49] guttlein commented on #177
solved on 92c02aff192a38b885291259aedf80afd7ec7a85

[2015-09-24 19:52] guttlein opened #178 "Missing postcondition for make_with_microdvd_subtitle.CONTROLLER"
Missing postcond. doing it!

[2015-09-24 19:58] sigarcia commented on #141
Solved in rev e912489

[2015-09-24 20:44] #11 closed, assigned to marianoruano

[2015-09-24 20:49] #14 closed, assigned to bisoardi

[2015-09-24 21:14] saiema commented on #20
Missing condition in precondition, start_frame argument should be greater or equal than zero (>= 0)

[2015-09-24 21:22] saiema commented on #21
test_flush_items_not_empty doesn't check that flush removes all items in a microdvd_subtitle

[code]

At line 3 subtitle.items.count can't be 0
The assert doesn't check that subtitle.items.count = 0

[2015-09-24 21:25] #22 closed, assigned to arangue

[2015-09-24 21:30] nricci commented on #173
Well Done!

[2015-09-24 21:30] #173 closed, assigned to miri15

[2015-09-24 21:36] #27 closed, assigned to ezedepetris

[2015-09-24 21:36] nricci commented on #167
Wrong rev. number. The changes show have nothing to do with testing CONVERTER_LOGIC.has_loaded_subrip_subtitle. Please Fix.

[2015-09-24 21:38] #28 closed, assigned to arangue

[2015-09-24 21:39] nricci commented on #177
Well Done

[2015-09-24 21:39] #177 closed, assigned to guttlein

[2015-09-24 21:41] saiema commented on #30
Should replace 12 and 13 with a constant, MICRODVD_SUBTITLE offers such constant with feature min_valid_fps.

12 should be min_valid_fps
13 should be min_valid_fps + 1

[2015-09-24 21:43] #33 closed, assigned to ibongiovanni

[2015-09-24 21:45] nricci commented on #176
I'm not sure that the feature will always print something like "hh:mm:ss,mmm". For instance if I do:

create time.make_with_values(1,1,1,1)

then time.out will print "1:1:1,1" rather than "01:01:01,001"

[2015-09-24 21:48] nricci commented on #175
Seems ok. Closing for the moment.

[2015-09-24 21:48] #175 closed, assigned to ibongiovanni

[2015-09-24 21:52] saiema commented on #36
test_add_subtitle_item_valid doesn't test anything

[code]

The assert should check that the three items are present in sub.items in the correct order with the correct values, that is, [(20,100,"text1"), (101,200,"text2"), (201,300,"text3")]

test_add_subtitle_item_invalid doesn't test routine add_subtitle_item, a correct negative test should be something like

[code]

[2015-09-24 21:53] saiema commented on #37
Missing condition in the precondition to check that start_frame should be >= 0

[2015-09-24 21:54] nricci commented on #172
Well done. Although it seems that this constructor gives no extra functionality than what would be achieved by default_create. I'm closing the issue for the time being.

[2015-09-24 21:54] damarisg commented on #167
Sorry, Solved in rev. 62319f6

[2015-09-24 21:57] #41 closed, assigned to damarisg

[2015-09-24 22:02] nricci commented on #172
This feature is redundant. Please mark as obsolete, default_create should be called instead.

[2015-09-24 22:08] jicibils commented on #21
Fixed in rev. f20d511

[2015-09-24 22:09] nricci commented on #49
You shouldn't close your own issues, especially without supplying a rev. nro. Nevertheless, this creation feature is redundant. Please mark as obsolete, default_create should be called instead.

[2015-09-24 22:10] nicodomgz opened #179 "Incomplete implementation of scenario INITIALISATION_FEATURE.system_start_with_microdvd_subtitle"
Must implement scenario INITIALISATION_FEATURE.system_start_with_microdvd_subtitle .
This issue will be resolved in branch system_start_with_microdvd_subtitle by [Dámaris Gomez](https://github.com/damarisg) and  [Nicolás Dominguez](https://github.com/nikd93)

[2015-09-24 22:15] sigarcia commented on #37
Correction for precondition. Solved in rev. 6574d14

[2015-09-24 22:15] nricci commented on #167
There is no need to use an extra variable "passed". You could just assert "converter.source /= Void" or "not converter.source /= Void" as those expressions evaluate themselves to boolean values.

[2015-09-24 22:17] nricci commented on #174
Thanks!

[2015-09-24 22:17] #174 closed, assigned to ezedepetris

[2015-09-24 22:19] ezedepetris opened #180 "Missing implementation for the routine CONVERTER_LOGIC.make_with_microdvd_subtitle"

[2015-09-24 22:20] nricci commented on #169
Well done. Thanks!

[2015-09-24 22:20] #169 closed, assigned to lukax77

[2015-09-24 22:21] lukax77 opened #181 "Missing implementation for routine CONVERTER_LOGIC.make_with_subrip_subtitle"
There should be a routine that takes as a parameter a filename and initialize the source with a loaded subtitle of type SUBRIP_SUBTITLE.

[2015-09-24 22:25] ezedepetris commented on #180
Resolved in rev 4a8129a and 690e17a

[2015-09-24 22:27] miri15 commented on #172
Modified in rev a498634

[2015-09-24 22:29] ibongiovanni commented on #176
I did some changes and additions for solve that issue in rev ff55ffd

[2015-09-24 22:30] #149 closed, assigned to damarisg

[2015-09-24 22:31] nricci commented on #152
There is such thing as an invariant for a routine.

[2015-09-24 22:31] #152 closed, assigned to GastonPalandri

[2015-09-24 22:34] gamassimino commented on #135
fixed in rev. b5b7f09

[2015-09-24 22:40] nricci commented on #172
Well done, thanks!

[2015-09-24 22:41] gamassimino opened #182 "Missin implementation for routine CONVERTER_LOGIC.last_load_succeeded"

[2015-09-24 22:42] saiema commented on #45
[code]

This postcondition checks that the new item is always inserted in the first position. This is not true, the postcondition should check that the new subtitle item is contained in items.

[2015-09-24 22:44] GastonPalandri opened #183 "Missing precondition for routine is_ready_to_convert.CONVERTER_LOGIC"

[2015-09-24 22:45] ezedepetris commented on #140
Resolved in rev 302eb0a

[2015-09-24 22:54] dromero19 opened #184 "Missing precondition for routine CONVERTER_LOGIC.set_source"

[2015-09-24 22:54] lukax77 commented on #181
Resolved in rev. 810d5ef

[2015-09-24 22:57] lukax77 commented on #142
Resolved in rev. 810d5ef

[2015-09-24 22:57] ezedepetris opened #185 "Missing postcondition for the routine CONVERTER_LOGIC.make_with_microdvd_subtitle"

[2015-09-24 23:02] ezedepetris commented on #185
Resolved in rev 216be38

[2015-09-24 23:02] GastonPalandri commented on #183
Solved in rev. 4d8529f

[2015-09-24 23:03] saiema opened #186 "Implement MICRODVD_SUBTITLE.free_time_frame"
There should be a feature in class **MICRODVD_SUBTITLE** called **free_time_frame** that given a **start_frame** and **stop_frame** values returns **True** if there isn't any subtitle item[s] such that **item.start_frame >= start_frame** and **item.stop_frame <= stop_frame**, and return **False** otherwise.

This feature should be used in **add_subtitle_item**'s precondition so a new subtitle item

[2015-09-24 23:03] ezedepetris opened #187 "Missing postcondition for the routine CONVERTER_LOGIC.make_with_subrip_subtitle"
Resolved in rev 3812737

[2015-09-24 23:05] ibongiovanni opened #188 "Missing unit test for routine SUBRIP_SUBTITLE_TIME.out"

[2015-09-24 23:05] nicodomgz commented on #170
Duplicated  #174

[2015-09-24 23:06] #170 closed, assigned to damarisg

[2015-09-24 23:15] mromina commented on #160
Solved in rev 7f6f04e.

[2015-09-24 23:19] gamassimino commented on #182
I decided implementing like a attribute

[2015-09-24 23:22] LfLanzoni commented on #36
Sorry soved 84954154f8399210e0acdd0a2541dd8f58c30b29

[2015-09-24 23:27] nricci commented on #183
Wrong rev nro. Changes has nothing to do with is_ready_to_convert.

[2015-09-24 23:28] nricci commented on #182
Well done.

[2015-09-24 23:28] #182 closed, assigned to gamassimino

[2015-09-24 23:30] mromina commented on #160
Resolved in rev. 5430803.

[2015-09-24 23:33] dromero19 commented on #184
Solved in rev. e8b5fa9

[2015-09-24 23:33] nricci commented on #187
I don't think you can assert that source will necessarily be /= Void. What happens if the file is ill-formated? Probably it is better to say that source will be non void and last_load_succeded, or either it'll be be void and last_load_succeded will be false

[2015-09-24 23:34] nricci commented on #185
I don't think you can assert that source will necessarily be /= Void. What happens if the file is ill-formated? Probably it is better to say that source will be non void and last_load_succeded, or either it'll be be void and last_load_succeded will be false

[2015-09-24 23:35] gamassimino commented on #180
you should consider the case that the file of subtitle is wrong and you should set "last_load_success" with the values True or False

[2015-09-24 23:36] gamassimino commented on #181
you should consider the case that the file of subtitle is wrong and you should set "last_load_success" with the values True or False

[2015-09-24 23:36] nricci commented on #181
What happens if the file contains ill-formatted data?

[2015-09-24 23:37] ibongiovanni commented on #188
Resolved in rev 1463f59

[2015-09-24 23:37] nricci commented on #184
Thanks!

[2015-09-24 23:37] #184 closed, assigned to dromero19

[2015-09-24 23:38] ibongiovanni commented on #176
Fixed in rev 1463f59

[2015-09-24 23:39] nricci commented on #166
Well done!

[2015-09-24 23:39] #166 closed, assigned to lukax77

[2015-09-24 23:42] ezedepetris commented on #186
Resolved in rev 296b058 and 9b88819

[2015-09-24 23:42] nricci commented on #165
Its okay. But you solved two issues in one commit. (You solved this issue and #148 with the same commit). For tracking purposes it is better if you solve them and commit them separately.

[2015-09-24 23:42] #165 closed, assigned to ibongiovanni

[2015-09-24 23:43] gamassimino opened #189 "Missing precondtion for routine MICRODVD_SUBTITLE.free_time_frame"

[2015-09-24 23:43] nricci commented on #148
Well done. But please see the closing comment in #165

[2015-09-24 23:43] #148 closed, assigned to ibongiovanni

[2015-09-24 23:43] gamassimino opened #190 "Missing postcondition for routine MICRODVD_SUBTITLE.free_time_frame"

[2015-09-24 23:48] gamassimino commented on #189
solved in rev. 71ac5d2

[2015-09-24 23:53] ezedepetris commented on #187
okey, i resolved in the rev 0e1696b

[2015-09-24 23:54] ezedepetris commented on #185
okey, i resolved in the rev 0e1696b

[2015-09-25 01:15] mromina commented on #30
Using constant defined in class MICRODVD_SUBTITLE. Resolved in rev. 6c0b286.

[2015-09-25 01:59] gamassimino commented on #190
I consider that the postcondition "res=true" or "res=false " doesn't relevant, so I consider that this routine couldn't have a postcondition

[2015-09-25 02:15] gamassimino opened #191 "Missing precondition fr routine CONTROLER.make_with_microdvd_subtitle"

[2015-09-25 02:16] gamassimino opened #192 "Missing precondition fr routine CONTROLER.make_with_subrip_subtitle"

[2015-09-25 02:20] gamassimino commented on #191
solved in rev. 397d36d

[2015-09-25 02:21] gamassimino commented on #192
solved in rev. f745f9d

[2015-09-25 03:04] nicoboccolini commented on #136
Solved in rev. b2bddbff486472b5058165316fd04c2d5a32d7ae

[2015-09-25 13:29] nricci commented on #113
Yes, you are right. Didn't notice that sorry.

[2015-09-25 13:29] #113 closed, assigned to andruvetto

[2015-09-25 13:48] nricci commented on #21
There's no need to ask if the number of items is /= 0. That will be the case. Also there is no need to use the flag to check that the condition did hold.

[2015-09-25 14:21] nricci commented on #24
I'm not sure that  stop_frame > items.item.stop_frame is right. Shouldn't it be the other way around? I mean for a sufficiently large stop_frame it will always be the case. Nevertheless, the test for your method is failing. Make sure that your method works fine, as it is very important for the app functionality.

[2015-09-25 14:23] nricci commented on #26
It is better if you put the two terms of the conjunction in separate labels. Also the second rev number that you posted is wrong, it does not reflect the changes concerned to this issue.

[2015-09-25 14:33] nricci commented on #31
Please, for the next time, provide only one rev number, referring to the commit in which you included the tests. Tests are ok. But I think you should provide more tests like test_remove_items_valid to exercise all posible scenarios of items removal. Try to think of more cases (in item overlaps with one/both borders, touches exactly one/both bordes, is totally or partially included in within the bo

[2015-09-25 14:36] nricci commented on #36
Well Done! Thanks!

[2015-09-25 14:37] nricci commented on #37
You could split start_frame >= 0 and start_frame < stop_frame into to separate labels.

[2015-09-25 14:38] nricci commented on #63
Thanks!

[2015-09-25 14:38] #63 closed, assigned to ezedepetris

[2015-09-25 14:43] nricci commented on #20
This appears to be working incorrectly. The tests fail. Please make sure that this feature is working as it is very important to the application functionality.

[2015-09-25 14:45] nricci commented on #71
Seems ok. Thanks!

[2015-09-25 14:45] #71 closed, assigned to gamassimino

[2015-09-25 14:45] nricci commented on #46
Well Done!

[2015-09-25 14:45] #46 closed, assigned to ibongiovanni

[2015-09-25 14:47] nricci commented on #72
Thanks

[2015-09-25 14:47] #72 closed, assigned to damarisg

[2015-09-25 14:49] nricci commented on #42
Thanks!

[2015-09-25 14:49] #42 closed, assigned to jicibils

[2015-09-25 14:49] nricci commented on #44
Thanks!

[2015-09-25 14:49] #44 closed, assigned to nicoboccolini

[2015-09-25 14:52] nricci commented on #47
It's ok but correct code indentation would be:

require
     (new_minute < 60) and (new_minute >= 0)
do
     ....

You must label the precondition as well.

[2015-09-25 14:54] nricci commented on #48
Please correct indentation and provide labels for the pre.

[2015-09-25 14:54] nricci commented on #50
Please correct indentation and provide labels for the pre.

[2015-09-25 14:55] #51 closed, assigned to castagneris

[2015-09-25 14:56] nricci commented on #52
Wrong rev. nro.

[2015-09-25 14:59] nricci commented on #53
Wrong rev nro. you posted the hash num of the merge instead of the commit that you made the changes in. Closing the issue. Thanks!

[2015-09-25 14:59] #53 closed, assigned to guttlein

[2015-09-25 15:01] nricci commented on #54
It's ok. But why did @nicoboccolini solved this even though it was assigned to you.

[2015-09-25 15:01] #54 closed, assigned to dromero19

[2015-09-25 15:03] nricci commented on #55
Well Done. Next time please make sure you post the rev nro of the commit that solved the issue and not the one of the merge.

[2015-09-25 15:03] #55 closed, assigned to nikd93

[2015-09-25 15:05] nricci commented on #57
I don't understand. Its solved by someone else and there is no rev nro provided.

[2015-09-25 15:06] nricci commented on #58
Thanks!

[2015-09-25 15:06] #58 closed, assigned to jicibils

[2015-09-25 15:07] nricci commented on #59
Well done!

[2015-09-25 15:07] #59 closed, assigned to nikd93

[2015-09-25 15:07] nricci commented on #60
Well done

[2015-09-25 15:07] #60 closed, assigned to jicibils

[2015-09-25 15:08] nricci commented on #61
Well Done!

[2015-09-25 15:08] #61 closed, assigned to vikibueno

[2015-09-25 15:11] nricci commented on #64
Seems ok. The actual commit that solved the issue is 71bc13e. Thanks

[2015-09-25 15:11] #64 closed, assigned to GastonPalandri

[2015-09-25 15:19] nricci commented on #68
It seems that your commit erased tests of set_seconds.

[2015-09-25 15:20] nricci commented on #69
Wel done!

[2015-09-25 15:20] #69 closed, assigned to miri15

[2015-09-25 15:39] nricci commented on #70
Thanks!

[2015-09-25 15:39] #70 closed, assigned to ibongiovanni

[2015-09-25 15:40] nricci commented on #73
Thanks

[2015-09-25 15:40] #73 closed, assigned to gamassimino

[2015-09-25 15:48] nricci commented on #78
Thanks

[2015-09-25 15:48] #78 closed, assigned to damarisg

[2015-09-25 16:03] miri15 opened #193 "Missing implementation for routine CONVERTER_LOGIC.set_target"

[2015-09-25 16:04] miri15 opened #194 "Missing unit test for routine CONVERTER_LOGIC.set_target"

[2015-09-25 16:07] nricci commented on #56
Seems ok. Although the tests are not passing. I think both the implementation and the tests are reasonable. Probably the postcondition is wrong. Closing for now

[2015-09-25 16:07] #56 closed, assigned to nicoboccolini

[2015-09-25 16:08] nricci commented on #77
Thanks

[2015-09-25 16:08] #77 closed, assigned to gamassimino

[2015-09-25 16:11] nricci commented on #76
There is a special test failing (test_set_move_forward_valid_time). I thinks the test is good and if you debug it you will se that it fails on the postcondition. The implementation computes the right value asserted in the test. I thinks that somehow the post is asking for something different and it's making the feature fail even though it is correct. Make sure that the post asserts the right prope

[2015-09-25 16:13] miri15 commented on #193
Resolved in rev. b2f02c8

[2015-09-25 16:16] nricci commented on #83
Wel Done

[2015-09-25 16:16] #83 closed, assigned to nicoboccolini

[2015-09-25 16:26] nricci commented on #193
I don't think target is something that you should be setting externally but rather it will get set whenever a subtitle is converted. This feature is not necessary. Please remove it.

[2015-09-25 16:28] nricci commented on #193
In fact it is not good practice to just remove it. Mark it as obsolete with message "To be deleted: Unnecessary feature."

[2015-09-25 16:29] nricci commented on #89
Thanks

[2015-09-25 16:29] #89 closed, assigned to arangue

[2015-09-25 16:32] nricci commented on #91
The text message in the assertions is to succinct, please provide longer, clearer messages.

[2015-09-25 16:33] nricci commented on #92
Thanks!

[2015-09-25 16:33] #92 closed, assigned to nikd93

[2015-09-25 16:44] nricci commented on #117
The only positive test attempts to remove thing from an empty subtitle. This doesn't test much. Testing this feature appropriately is very important. Please, provide better, stronger tests.

[2015-09-25 16:46] nricci commented on #94
Seems ok as a first version, however there are no good tests for this routine. I have suggested that more tests are implemented. As for now I'm going to close the issue. But probably we will have to reopen it if the implementation turns out not to work properly.

[2015-09-25 16:46] #94 closed, assigned to nikd93

[2015-09-25 16:50] nricci commented on #80
Great

[2015-09-25 16:50] #80 closed, assigned to nicoboccolini

[2015-09-25 16:51] nricci commented on #65
Good Job!

[2015-09-25 16:51] #65 closed, assigned to dromero19

[2015-09-25 16:51] nricci commented on #81
Great! Thanks!

[2015-09-25 16:51] #81 closed, assigned to nicoboccolini

[2015-09-25 16:55] nricci commented on #93
You can't just mark the issue as resolved. A rev nro. must be provided.

[2015-09-25 16:57] nricci commented on #87
What would happen if I were to supply a stop_time that's prior to the starting time?

[2015-09-25 16:59] nricci commented on #102
Seems fine. Closing for the moment

[2015-09-25 16:59] #102 closed, assigned to dastorga

[2015-09-25 17:00] nricci commented on #90
You can't mark as resolved without supplying a rev. nro.

[2015-09-25 17:01] nricci commented on #97
Thanks

[2015-09-25 17:01] #97 closed, assigned to dastorga

[2015-09-25 17:02] nricci commented on #98
Thanks

[2015-09-25 17:02] #98 closed, assigned to jicibils

[2015-09-25 17:03] nricci commented on #106
Please, correct indentation and divide into multiple labels.

[2015-09-25 17:16] #194 closed, assigned to miri15

[2015-09-25 17:18] ibongiovanni opened #195 "Missing implementation for routine nr_of_items.SUBRIP_SUBTITLE"
The routine must return the number of subtitle items in the internal list

[2015-09-25 17:20] ibongiovanni commented on #195
Resolved in rev 8a1b53a

[2015-09-25 17:26] miri15 commented on #193
Ok. Corrected in rev. 3ded9bc

[2015-09-25 19:28] GastonPalandri commented on #183
Solved in rev. 5285800

[2015-09-25 19:52] GastonPalandri commented on #26
change rev. a90ba2e

[2015-09-25 22:09] dromero19 commented on #57
Sorry, is a duplicate issue. It was resolved in the issue #41 with this rev. number cb5e465 by @damarisg.

[2015-09-26 01:40] damarisg commented on #106
Thanks for the correction..!! Solved in rev.  25a4cf5

[2015-09-26 04:58] damarisg commented on #62
It was resolved in the issue  #78 with this rev. number [@damarisg](https://github.com/nmaguirre/eiffel-subtitle-converter/issues/78)

[2015-09-26 05:16] damarisg commented on #49
Solved in rev. f9befb8

[2015-09-26 14:02] gamassimino commented on #76
I don't know if I can use the local features "remainder_hours" and "remainder_minutes" in the postcondition so I remplaces their values but I don't know if is right
fixed in rev. 24888ae

[2015-09-26 22:06] dromero19 commented on #117
Fixed test in rev. 5b73740

[2015-09-26 23:19] dromero19 commented on #172
Someone has erased the 'obsolete' condition of this constructor. I think that was you @ezedepetris, in this rev. 5bcf4a0. Check it please.

[2015-09-27 00:21] ibongiovanni opened #196 "Missing unit test for routine SUBRIP_SUBTITLE_ITEM.out"

[2015-09-27 00:23] ibongiovanni commented on #196
Resolved in rev 136d317

[2015-09-27 00:47] gamassimino commented on #20
I don't understand why you say "Missing condition in precondition", in this issue I'm working in a the implementation of the feature, not in the specification.

[2015-09-27 01:12] damarisg commented on #167
converter.source / = Void indicates  that have a loaded subtitle but  not check that is subrip subtitle,now change for verify  that are loaded a subrip subtitle and add test for case invalido without subtitle. Solved in rev. 5b73740

[2015-09-27 02:01] nicodomgz commented on #48
Solved in rev  c8e3d28

[2015-09-27 02:14] nicodomgz commented on #91
Solved in rev.  aef9a1d ; 545ec23

[2015-09-27 02:50] nicodomgz commented on #24
I think that stop_frame > items.item.stop_frame is right. the test for this routine is falling in add_subtitle_item method from MICRODVD_SUBTITLE Class.

the output of test shows " test routine: exceptional (Postcondition violation in MICRODVD_SUBTITLE.add_subtitle_item) "

[2015-09-27 04:57] nicodomgz commented on #171
Solved in rev   d36efcc

[2015-09-27 05:21] nicodomgz commented on #155
You should use "add_subtitle_item" rather than  "items.extend", (look at line 47 in  992b7a9 ). This is because you can make an invalid sequence. For Example, I can load from file the following sequence:

{1}{4}first_text
{3}{7}second_text
{2}{9}third_text

I use this sequence in my test (test_invalid_make_from_file_wrong_sequence).

[2015-09-27 23:52] dromero19 commented on #162
Solved in rev. ddd83b9

[2015-09-28 00:05] mromina commented on #160
Change in the note of test in rev. bdbdaf9

[2015-09-28 00:24] dromero19 commented on #161
Solved in rev. aded36b

[2015-09-28 13:48] nricci commented on #24
Ok, I'm closing this for the time being. We'll wait for the other features to work correctly.

[2015-09-28 13:48] #24 closed, assigned to nikd93

[2015-09-28 13:49] nricci commented on #26
Well done! Thanks

[2015-09-28 13:49] #26 closed, assigned to GastonPalandri

[2015-09-28 13:49] nricci commented on #48
Well done. Thanks

[2015-09-28 13:49] #48 closed, assigned to nikd93

[2015-09-28 13:50] nricci commented on #49
Well done. Thanks!

[2015-09-28 13:50] #49 closed, assigned to damarisg

[2015-09-28 13:51] nricci commented on #57
Ok. Didn't notice that. Thanks!

[2015-09-28 13:51] #57 closed, assigned to dromero19

[2015-09-28 13:59] nricci commented on #76
No, using "reminder_hours" in the post would be out of scope, and thus result in a compilation error. But it's okay as it is now. The falling test is now passing. Thanks.

[2015-09-28 13:59] #76 closed, assigned to gamassimino

[2015-09-28 14:03] nricci commented on #91
Thanks

[2015-09-28 14:03] #91 closed, assigned to nikd93

[2015-09-28 14:07] nricci commented on #95
Well done. Closing for the moment.

[2015-09-28 14:07] #95 closed, assigned to nicoboccolini

[2015-09-28 14:09] nricci commented on #99
Thanks

[2015-09-28 14:09] #99 closed, assigned to damarisg

[2015-09-28 14:10] nricci commented on #106
Thanks

[2015-09-28 14:10] #106 closed, assigned to damarisg

[2015-09-28 14:10] nricci commented on #107
Well done. Thanks

[2015-09-28 14:10] #107 closed, assigned to nicoboccolini

[2015-09-28 14:11] nricci commented on #109
Well done.

[2015-09-28 14:11] #109 closed, assigned to damarisg

[2015-09-28 14:12] nricci commented on #111
Thanks

[2015-09-28 14:12] #111 closed, assigned to andruvetto

[2015-09-28 14:14] nricci commented on #112
Result is a boolean value and thus is an expanded class. Expanded clases instances can't be void so the test is redundant. I would delete the postcondition altogether.

[2015-09-28 15:23] nricci commented on #142
Thanks. Closing for the moment.

[2015-09-28 15:23] #142 closed, assigned to lukax77

[2015-09-28 15:39] nricci commented on #117
Regarding the "test_remove_items_valid" test. The condition that you are testing (#items <= old #items) is already guaranteed by the postcondition. I think that, you want to assert something a bit stronger, like #items < old #items, because in this particular setting you have written the test so that the second item will be deleted. Or at least it should, if the remove_items worked correctly.

[2015-09-28 15:46] nricci commented on #118
Regarding the positive test: you can't assert true. That does not test anything. You have to assert some desired property that should hold at the end of the execution of add, as to give some supporting evidence that the method works fine. True will always hold, and thus provides no extra help in guaranteeing that the feature functions correctly.

Regarding the negative test: addition will fail ind

[2015-09-28 18:29] sigarcia commented on #37
Change in rev. 69b8a2e

[2015-09-28 21:16] #37 closed, assigned to sigarcia

[2015-09-28 21:21] saiema commented on #115
I can only see one negative test. You should add a few more cases.

[2015-09-28 21:25] ezedepetris commented on #155
Resolved in rev 7a98fb9

[2015-09-28 21:26] saiema commented on #116
The check **subrip_sub.items.count /= 0** is not necessary, if this condition is false then the **add_subtitle_item** routine has a bug but this shouldn't be tested in this test.

[2015-09-28 21:28] jicibils commented on #21
resolved in rev. 56457f6

[2015-09-28 21:35] ibongiovanni opened #197 "Missing implementation for routine MICRODVD_SUBTITLE.out"

[2015-09-28 21:39] ezedepetris commented on #180
Resolved in rev cf72142 :beer:

[2015-09-28 21:40] ibongiovanni commented on #197
Resolved in rev b0517c5

[2015-09-28 21:41] ibongiovanni opened #198 "Missing implementation for routine MICRODVD_SUBTITLE_ITEM.out"

[2015-09-28 21:44] gamassimino commented on #20
bug fixed in rev. ba09002

[2015-09-28 21:49] gamassimino commented on #36
sorry but the test fails because you should use the feature "is equal" instead of the operator "=" in the assert

[2015-09-28 21:53] saiema commented on #20
Sorry, My bad. I'll go see the precondition issue.

[2015-09-28 21:56] vikibueno commented on #150
Solved in rev. 2cf964b

[2015-09-28 21:59] ibongiovanni commented on #198
Resolved in rev 1bdddaa

[2015-09-28 22:06] vikibueno commented on #50
Fixed up in rev. 2d2a94a

[2015-09-28 22:08] saiema commented on #186
The implementation have the following problems:
- doesn't check the last item.
- doesn't stop when res = False
- _item_microdvd.start_frame >= start_frame and item_microdvd.stop_frame <= stop_frame_ doesn't detect the following case:
  - given [(1,2,"hola"),(4,5,"chau")] and (3,4, "bug") the routine return **True**

[2015-09-28 22:10] saiema commented on #20
This implementation seems to allow to do the following

given a subtitle with [(0,1,"hola"), (2,3,"chau")]
call add_subtitle_item(2,4,"bug")

given a subtitle with [(0,1,"hola"), (4,5,"chau")]
call add_subtitle_item(2, 4, "bug")

You should use **MICRODVD_SUBTITLE.free_time_frame** as a precondition

[2015-09-28 22:18] damarisg commented on #179
Solved in rev   67676bf

[2015-09-28 22:20] #21 closed, assigned to jicibils

[2015-09-28 22:24] mromina commented on #163
Solved in rev. 79a0585.

[2015-09-28 22:26] ibongiovanni commented on #196
Made a change due to a problem with the new line character, this in rev d6fba4a

[2015-09-28 22:27] damarisg opened #199 "Incomplete implementation of scenario INITIALISATION_FEATURE.system_start_with_invalid_microdvd_subtitle"
Must implement scenario INITIALISATION_FEATURE.system_start_with_invalid_microdvd_subtitle .
This issue will be resolved in branch initialisation_feature by [Dámaris Gomez](https://github.com/damarisg) and  [Nicolás Dominguez](https://github.com/nikd93)

[2015-09-28 22:28] saiema commented on #130
Result can't be void (the routine should return a detachable BOOLEAN to allow Void results)

Adding label Invalid.

[2015-09-28 22:28] #130 closed, assigned to guttlein

[2015-09-28 22:30] vikibueno commented on #150
Fixed up in rev. 7ea99e7. Because previous post-condition generated an error in the test.

[2015-09-28 22:31] damarisg opened #200 "Incomplete implementation of scenario INITIALISATION_FEATURE.system_start_with_subrip_subtitle"
Must implement scenario INITIALISATION_FEATURE.system_start_with_subrip_subtitle .
This issue will be resolved in branch initialisation_feature by [Dámaris Gomez](https://github.com/damarisg) and  [Nicolás Dominguez](https://github.com/nikd93)

[2015-09-28 22:37] saiema commented on #135
You are not checking is_ready_to_convert (there is no call to this feature)

A correct assert should be **converted.is_ready_to_convert**, you are expecting that the feature return **True**. You are testing **converter.set_source(MICRODVD_SUBTITLE)**.

The invalid test has the same problem.

[2015-09-28 22:39] saiema commented on #136
You should just return the condition inside the if.

[2015-09-28 22:42] jicibils commented on #31
resolved in rev ae101ff

[2015-09-28 22:43] ezedepetris opened #201 "Missing unit test for routine MICRODVD_SUBTITLE.free_time_frame"

[2015-09-28 22:45] #138 closed, assigned to guttlein

[2015-09-28 22:46] saiema commented on #50
hours are not required to be less than 24. You should just give the precondition of >= 0

[2015-09-28 22:50] mromina commented on #116
Resolved in rev. 4d54235.

[2015-09-28 22:54] miri15 commented on #164
Resolved in rev f58e6aa

[2015-09-29 01:12] nicoboccolini commented on #136
Solved in rev. 49e762d0c9f757f2520bf882253cf52713953446

[2015-09-29 01:30] ezedepetris commented on #186
Resolved in rev 3a5bc0d and c01b136

[2015-09-29 01:33] ezedepetris commented on #201
Resolved in rev 30d4c25

[2015-09-29 01:56] ezedepetris opened #202 "Missing invalid unit test for routine MICRODVD_SUBTITLE.free_time_frame"
Resolved in rev de58063

[2015-09-29 05:08] dastorga commented on #45
Resolved in 917b8618946d7be675f4fe1b4fa4ec4d74f7c4a8

[2015-09-29 11:39] lukax77 commented on #181
Resolved in rev. 6682a0f

[2015-09-29 12:29] lukax77 commented on #154
The routine had a bug that was solved in rev. bf28da3

[2015-09-29 20:49] andruvetto commented on #112
solved in e79fef3

[2015-09-29 21:34] saiema commented on #82
There is no need for hours to be < 24. Please correct the invariant to allow hours >= 24 (That is hours >= 0).

[2015-09-29 21:35] vikibueno commented on #50
Fixed up in rev. 4454b95

[2015-09-29 21:48] nicodomgz commented on #200
system_start_with_subrip_subtitle already implemented.

[2015-09-29 21:48] #200 closed, assigned to damarisg

[2015-09-29 21:49] nricci commented on #31
Great! Thanks

[2015-09-29 21:49] #31 closed, assigned to jicibils

[2015-09-29 21:57] damarisg commented on #199
Solved in rev.  cfc9217 and 851b117

[2015-09-29 21:59] nricci commented on #202
Thanks!

[2015-09-29 21:59] #202 closed, assigned to ezedepetris

[2015-09-29 22:00] nricci commented on #201
Thanks

[2015-09-29 22:00] #201 closed, assigned to ezedepetris

[2015-09-29 22:01] damarisg opened #203 "Missing implementation of scenario INITIALISATION_FEATURE.system_start_with_invalid_subrip_subtitle"
Must implement scenario INITIALISATION_FEATURE.system_start_with_invalid_subrip_subtitle .
This issue will be resolved in branch initialisation_feature by [Dámaris Gomez](https://github.com/damarisg) and  [Nicolás Dominguez](https://github.com/nikd93)

[2015-09-29 22:02] nricci commented on #198
Thanks

[2015-09-29 22:02] #198 closed, assigned to ibongiovanni

[2015-09-29 22:03] nricci commented on #197
Thanks

[2015-09-29 22:03] #197 closed, assigned to ibongiovanni

[2015-09-29 22:05] saiema commented on #45
The solution is wrong. You are checking if the first item is hashable which has nothing to do with the item being inside the items list.

[2015-09-29 22:05] mromina commented on #163
Modification in convention in rev. 3f78cb8.

[2015-09-29 22:05] marianoruano commented on #68
Erased test restored. Rev. ca4a0c2

[2015-09-29 22:06] #50 closed, assigned to vikibueno

[2015-09-29 22:06] nricci commented on #196
Thanks

[2015-09-29 22:06] #196 closed, assigned to ibongiovanni

[2015-09-29 22:07] nricci commented on #195
Thanks

[2015-09-29 22:07] #195 closed, assigned to ibongiovanni

[2015-09-29 22:07] #193 closed, assigned to miri15

[2015-09-29 22:09] #68 closed, assigned to marianoruano

[2015-09-29 22:11] #112 closed, assigned to andruvetto

[2015-09-29 22:12] #192 closed, assigned to gamassimino

[2015-09-29 22:12] #116 closed, assigned to mromina

[2015-09-29 22:13] #191 closed, assigned to gamassimino

[2015-09-29 22:14] #136 closed, assigned to nicoboccolini

[2015-09-29 22:15] #189 closed, assigned to gamassimino

[2015-09-29 22:15] vikibueno commented on #147
Solved in rev. fba6ab4

[2015-09-29 22:15] #188 closed, assigned to ibongiovanni

[2015-09-29 22:21] damarisg opened #204 "Missing implementation of Scenario: Converting a subtitle from SubRip to MicroDVD, with default framerate, and all subtitle items within the first minute of reproduction."
Converting a subtitle from SubRip to MicroDVD, with default framerate, and all subtitle items within the first minute of reproduction  by [Dámaris Gomez](https://github.com/damarisg) and  [Nicolás Dominguez](https://github.com/nikd93)

[2015-09-29 22:24] #187 closed, assigned to ezedepetris

[2015-09-29 22:25] lukax77 opened #205 "Missing implementation of Scenario: Converting a subtitle from MicroDVD to SubRip, with default framerate, and all subtitle items within the first minute of reproduction"
Converting a subtitle from MicroDVD to SubRip, with default framerate, and all subtitle items within the first minute of reproduction.

Assignee to @ibongiovanni , @lukax77, @jicibils

[2015-09-29 22:29] gamassimino commented on #20
ok but this issues correspond to implementation
the issue of the precondition for this feature was #37
solved in rev. 82a58f3

[2015-09-29 22:35] #185 closed, assigned to ezedepetris

[2015-09-29 22:36] #176 closed, assigned to ibongiovanni

[2015-09-29 22:36] #181 closed, assigned to lukax77

[2015-09-29 22:38] nricci commented on #183
Actually you don't need a precondition for this feature. Since it is a query it should posible to execute it all the time.

[2015-09-29 22:39] ibongiovanni commented on #163
There is the same problem as "convert_to_subrip" and "routines convert_to_microdvd", creation of the subtitle object should be done once, outside the body of the loop

[2015-09-29 22:49] GastonPalandri commented on #183
remove precondition rev. d36d423

[2015-09-29 22:55] vikibueno commented on #147
Fixed in rev. efb639f

[2015-09-29 23:01] ezedepetris opened #206 "Missing implementation of scenario save subtitle SUBRIP after convert to MICRODVD, SUBRIP_SUBTITLE.convert_to_microdvd"
GIVEN a subrip subtitle
WHEN i convert this subtitle to microdvd
THEN the subtitle should be saved in a text file

Team: Gaston Massimino, Ezequiel Depetris

[2015-09-29 23:08] mromina commented on #163
Thank you for the comment. Fixed in rev. f4c240b.

[2015-09-29 23:12] #161 closed, assigned to dromero19

[2015-09-29 23:12] #180 closed, assigned to ezedepetris

[2015-09-29 23:15] #140 closed, assigned to ezedepetris

[2015-09-29 23:16] saiema commented on #20
My bad for the correction of the precondition in this issue, but the correction about implementation was valid although it was fixed by fixing the precondition.

[2015-09-29 23:19] #143 closed, assigned to gamassimino

[2015-09-29 23:19] #147 closed, assigned to vikibueno

[2015-09-29 23:20] #156 closed, assigned to gamassimino

[2015-09-29 23:27] saiema commented on #141
You should not use **Passed = True** or **Passed = False**, you should use **Passed** and **not Passed**.

The invalid test is not testing an invalid case, it's testing a case when the **has_loaded_microdvd_subtitle** returns **False**. I don't think an invalid test can be created in this case.

[2015-09-29 23:28] #144 closed, assigned to andruvetto

[2015-09-29 23:29] #150 closed, assigned to vikibueno

[2015-09-29 23:32] saiema commented on #151
**x** argument is not detachable so it can't be **Void**. The precondition will always be true, either give a better precondition or mark this issue as invalid.

[2015-09-29 23:34] vikibueno opened #207 "Missing postcondition for routine source_as_microdvd.CONVERTER_LOGIC"

[2015-09-29 23:34] saiema commented on #153
The solution is correct but the implementation of **SUBRIP_SUBTITLE_ITEM.out** should have been made in another issue.

[2015-09-29 23:34] #153 closed, assigned to ibongiovanni

[2015-09-29 23:38] vikibueno commented on #207
Solved in rev. b3da795

[2015-09-29 23:42] saiema commented on #154
You should replace **0**, **1** and **2** with constants with a name that describes what the constant means.

[2015-09-29 23:44] #151 closed, assigned to nikd93

[2015-09-29 23:52] damarisg commented on #203
Solved in rev.  49f6f3d and  118699d

[2015-09-29 23:57] saiema opened #208 "Implement feature MICRODVD_SUBTITLE.add_constructed_subtitle_item(MICRODVD_SUBTITLE_ITEM)"
Given a MICRODVD_SUBTITLE_ITEM already constructed. There should be a feature in MICRODVD_SUBTITLE that allows to add that item.

This feature should not assume that the item can be inserted, so there should make the same checks that add_subtitle_item does, only assuming that the subtitle item is correct.

To avoid multiple issues, this issue includes pre/post condition, implementation and testing

[2015-09-29 23:58] saiema commented on #155
After this [issue](https://github.com/nmaguirre/eiffel-subtitle-converter/issues/208) is resolved you should change the call from add_subtitle_item to the new feature in that issue.

[2015-09-30 02:27] ezedepetris commented on #155
sory, but i dont understand you

[2015-09-30 03:06] nicodomgz commented on #155
He says that when I'll implement add_constructed_subtitle_item, you should change "add_subtitle_item" to "add_constructed_subtitle_item".

[2015-09-30 03:47] nikd93 commented on #168
https://github.com/nmaguirre/eiffel-subtitle-converter/issues/199

[2015-09-30 03:53] nicodomgz commented on #168
issue #199 performs tests on this routine.

[2015-09-30 03:53] #168 closed, assigned to nikd93

[2015-09-30 16:46] gamassimino commented on #135
But in a test, I shouldn't use the same feature that I'm testing because it is exactly what I want to try
Also, if the feature "source" has something of type "SUBTITLE" and the feature "targer" is Void, then the subtitle is ready to convert, because I did this assert

[2015-09-30 20:06] dromero19 commented on #117
Modification in tests. Solved in rev. 342dc26.

[2015-09-30 20:11] dromero19 commented on #82
Fixed in rev. 74b0ac3.

[2015-10-01 02:13] fedebono commented on #90
solved in rev. e4fb512

[2015-10-01 02:15] fedebono commented on #93
solved in rev. e7c47f4

[2015-10-01 18:23] #62 closed, assigned to damarisg

[2015-10-01 21:29] damarisg opened #209 "Missing unit test for routine SUBRIP_SUBTITLE.make_from_file"

[2015-10-01 22:03] #82 closed, assigned to dromero19

[2015-10-01 22:06] saiema commented on #90
The preconditions you wrote will always be true since the argument of the feature is not defined as detachable. You should make a more appropriate precondition.

[2015-10-01 22:08] saiema commented on #93
The precondition will always be true because the argument is not detachable. A more appropriate precondition should be given.

[2015-10-01 22:09] #117 closed, assigned to dromero19

[2015-10-01 22:26] saiema commented on #157
There is no need to call **create i.default_create** because **i** is initialized with **0** as any non detachable Integer.

The condition **('}' /= line.item(i) and '{' /= line.item (i))** in the first **loop** should never be **false** since, if **line.item(i) = '}'** then the loop should have ended and the loop body couldn't be executed. If **line.item(i) = '{'** then the string representation

[2015-10-01 22:36] #158 closed, assigned to damarisg

[2015-10-01 22:38] #159 closed, assigned to lukax77

[2015-10-01 22:43] saiema commented on #160
The **invalid tests** are not testing the routine **set_source**. Your are actually testing **add_subtitle_item**.

[2015-10-01 22:45] gamassimino commented on #135
fixed in rev. 21413f0

[2015-10-01 22:55] dahue opened #210 "Missing implementation of acceptance test for scenario: Converting a subtitle from MicroDVD to SubRip, with a custom framerate, and all subtitle items within the first minute of reproduction."
Must implement the scenario where the user converts a subtitle from MicroDVD to SubRip using a custom framerate.
Scenario: f3298a7
Team: Arangue, Astorga, Palandri, Tissera
Branch: MicroDVD_to_SubRip_Custom_Framerate

[2015-10-01 22:57] saiema commented on #162
The **invalid test** is not testing **source_as_subrip**, is testing **add_subtitle_item**. The **valid tests** are ok but both are exactly the same, more or less subtitle items makes no difference when testing the routine **source_as_subrip**.

[2015-10-01 22:59] saiema commented on #135
Please use **not** instead of **= False**.

[2015-10-02 15:19] gamassimino commented on #135
fixed in rev. e97e73b

[2015-10-02 19:51] mromina opened #211 "Missing implementation of scenario: try to convert without any subtitle loaded"
Try to perform the conversion when there is no subtitle loaded.

TEAM: @sigarcia - @miri15 - @marianoruano - @dromero19
BRANCH: scenario_convert_subtitle_void

[2015-10-05 19:34] damarisg opened #212 "Missing implementation for routine check_one.MICRODVD_SUBTITLE_ITEM"
This method reports if given a subtitle can be inserted into a MICRODVD_SUBTITLE.
For example:
if my MICRODVD_SUBTITLE is [(1,3) (3,6) (6,9)(40,80)(80,100)]  and my subtitle is [(10,20)] then can be inserted and return True.

[2015-10-05 19:35] damarisg commented on #212
Solved in rev. e61a43f

[2015-10-05 20:17] nicodomgz commented on #208
Solved in rev  367cc95 , 15449ae

[2015-10-05 21:17] ezedepetris commented on #155
okey, resolved in rev d183953

[2015-10-05 21:50] ezedepetris commented on #157
Resolved in rev 80ca8e8, the precondition and postconditio aren't mine, so, i cant check that

[2015-10-05 21:52] ezedepetris opened #213 "Missing precondition for routine MICRODVD_SUBTITLE_ITEM.make_from_string"
the precondition should check if the string is a valid representation of a microdvd subtitle items

[2015-10-05 21:52] ezedepetris opened #214 "Missing postcondition for routine MICRODVD_SUBTITLE_ITEM.make_from_string"

[2015-10-05 21:57] lukax77 opened #215 "Missing unit test for routine MICRODVD_SUBTITLE.free_time_frame"
There is no test when I have no free time at the beginning of the subtitle. The routine should return false.

[2015-10-05 22:02] lukax77 commented on #215
Resolved in rev. 5124338

[2015-10-05 23:10] dahue commented on #210
Acceptance test microdvd_to_subrip_custom_framerate.CONVERSION_FEATURE
solved in b0ff2da

[2015-10-06 18:19] guttlein commented on #178
solved on 7c3002d4d91cba933e54f44943c9659e0f3eea51

[2015-10-06 19:36] castagneris commented on #52
Solved in  rev. 361fd1a

[2015-10-06 19:47] LfLanzoni commented on #36
Sorry, solved 056d4015868a688119d6b628747666b520f2b2b5

[2015-10-06 19:54] LfLanzoni commented on #47
Sorry, solved c0fcd0fe665c7621ed206ec075f3ba05d8253926

[2015-10-06 21:14] #36 closed, assigned to LfLanzoni

[2015-10-06 21:16] saiema commented on #47
precondition label is still missing

[2015-10-06 21:17] #52 closed, assigned to castagneris

[2015-10-06 21:19] saiema commented on #135
In test **test_is_ready_to_convert_with_not_subtitle** the variable **passed** is never used.

[2015-10-06 21:20] #155 closed, assigned to ezedepetris

[2015-10-06 21:29] LfLanzoni commented on #47
Sorry, solved 85f11eb506332e495c2e2b1882e685f4255b1292

[2015-10-06 22:22] guttlein opened #216 "Missing implementation of scenario: save_convert_microdvd_to_subrip"
Implamentating scenario to Save a new converted subrip subtitle from a microdvd subtitle.
Team: @nicoboccolini , @guttlein
Branch: save_convert_microdvd_to_subrip

[2015-10-07 17:11] gamassimino commented on #135
fixed in rev. b722e78

[2015-10-07 18:51] ezedepetris commented on #163
please check your solution of the conversion between subrip to micro dvd 'cause it does whatever it wants, and stop the project and we issue #206, do a test before upload your solution
only convert the last string

[2015-10-07 20:41] ezedepetris commented on #163
please check your solution of the conversion between subrip to micro dvd 'cause it does work correctly, if you do a test your solution only saves the las string converter , then the only subtitle in the target is the last line converted

[2015-10-07 20:49] ezedepetris commented on #163
[code]

if you try this the test is passed, when should return false,

create file_of_subtitle.make_sub(sub rip) <--- this routine create a converter logic with the source as sub rip

microdvd := file_of_subtitle.target_as_microdv <--- this routine return the target as a microdvd the it is possible

[2015-10-07 22:05] mromina commented on #163
I just made a test to routine convert_to_microdvd using the information submitted by you, attached two pictures for you to check that returns correctly.

![test_falla](https://cloud.githubusercontent.com/assets/13923065/10352448/825dfd1c-6d25-11e5-81a4-371fba23f3c5.jpg)
![test_pasa](https://cloud.githubusercontent.com/assets/13923065/10352447/825d4b1a-6d25-11e5-8795-0700aa8c6d2e.jpg)

[2015-10-07 22:32] mromina opened #218 "Missing unit test for routine convert_to_microdvd.SUBRIP_SUBTITLE"

[2015-10-07 22:32] mromina opened #219 "Missing unit test for routine convert_to_subrip.MICRODVD_SUBTITLE"

[2015-10-07 22:38] mromina commented on #218
Solved in rev. a80c02f.

[2015-10-07 22:49] gamassimino commented on #163
you should created "microdvd_sub" out of the loop, this is the bug
correct asap please

[2015-10-07 22:59] mromina commented on #163
It is outside of the loop. It was solved in rev. f4c240b.

![convert_to_microdvd](https://cloud.githubusercontent.com/assets/13923065/10353498/62cbe024-6d2d-11e5-8f04-b83af0a2ffda.png)

[2015-10-08 03:33] ezedepetris commented on #206
Resolved in the revs 9c06129, 289817b, 12469f1, b722e78

[2015-10-08 20:01] sigarcia commented on #141
Changes in rev. aa3f829

[2015-10-08 20:16] sigarcia commented on #118
changes in rev. 2c50e2a

[2015-10-08 22:00] sigarcia commented on #118
Change in rev. 0b4af26

[2015-10-08 22:19] mromina commented on #219
Solved in rev. 47fa1bb.

[2015-10-08 22:28] mromina commented on #20
The routine doesn't include the case when you want to add an item at the head of the list. Check it with the test in this rev. 47fa1bb.  This test fail.

[2015-10-08 23:03] vikibueno opened #220 "Missing unit test for scenario subtitle delay"
These scenarios should contemplate the following cases:
- Given a valid **SubRip** subtitle
  - Applying a positive delay should increase the start/stop time of each subtitle item
  - Applying a negative delay should decrease the start/stop time of each subtitle item without setting a negative time value.
- Given a valid **MicroDVD**
  - Applying a positive delay should increase the start/stop fra

[2015-10-08 23:08] gamassimino commented on #20
ok, check it now
fixed in rev. 3372ed1

[2015-10-08 23:51] gamassimino commented on #20
sorry, this is the correct solution 4165f02

[2015-10-11 02:31] fedebono commented on #93
solved in rev. afa3844

[2015-10-11 02:59] fedebono commented on #90
solved in rev. 6dd6a34

[2015-10-13 00:07] nicodomgz opened #221 "Tests for routine MICRODVD_SUBTITLE.add_subtitle_item are insufficient."
I think necessary to add other valid test for this routine.

the other test for this routine:  #36.

[2015-10-13 00:12] nicodomgz commented on #221
Solved in rev.  1e1f2e7

[2015-10-13 00:22] nicodomgz commented on #20
This implementation is still wrong. I did the following valid test: #221  and didn't pass.

[2015-10-13 13:10] fedebono commented on #213
solved in rev. 6d05edf

[2015-10-13 22:40] nicodomgz commented on #204
Solved in rev. 9ef96be , d6feb65

Tests: 29328f7

[2015-10-13 22:50] gamassimino commented on #20
fixed in rev. e6480f5

[2015-10-13 23:07] #74 closed, assigned to gamassimino

[2015-10-13 23:07] #190 closed, assigned to gamassimino

[2015-10-15 12:04] dahue commented on #132
This issue is no longer required to be resolved due to that is_equal routine was removed, therefore there is no need for a test routine

[2015-10-15 15:17] fedebono commented on #214
solved in rev.f6e493a

[2015-10-15 23:16] vikibueno commented on #209
Solved in rev. 96edf17

[2015-10-15 23:39] #20 closed, assigned to gamassimino

[2015-10-15 23:40] #47 closed, assigned to LfLanzoni

[2015-10-15 23:43] saiema commented on #90
The precondition is wrong, this case proves it:

[code]

but your precondition will compare `0000 < 1000`

[2015-10-15 23:46] saiema commented on #93
The precondition is wrong

`{01:00:00:0000} > {00:00:00:1000}` but you are comparing only ´0000 < 1000´ which is true but it doesn't mean that `{01:00:00:0000} < {00:00:00:1000}`

[2015-10-15 23:48] #135 closed, assigned to gamassimino

[2015-10-15 23:51] saiema commented on #141
Still using `= true`. The assert should simply use **has_loaded_microdvd_subtitle**.

[2015-10-15 23:52] #132 closed, assigned to dahue

[2015-10-15 23:53] #157 closed, assigned to ezedepetris

[2015-10-15 23:56] saiema commented on #164
You could use the **has_loaded_...** in the assert.

The tests doesn't test that the converted subtitles is equivalent to the original subtitle.